</div>
<div class="dContent">
    <% include ../../Home/View/Partial/sidebar.ejs %>
    <div class="dMain">
        <div class="dBoxSingle">
            <div class="dTitleBox">
                <a class="aHome" href="<%- $.baseurl(req); %>" title="Trang chủ"><img class="lazyBit" data-original="<%- $.config.skin; %>/home-icon.png" alt=""/></a><img class="lazy" data-original="<%- $.config.skin; %>/arrow-category.png" alt=""/> <h2><%- content.title; %></h2>
            </div>
            <div class="dContentBox">
                <div class="dDetail">
                    <div class="dRequests">
                        <%
                            if(typeof(exchanges)!='undefined' && exchanges.length>0)
                                $.each(exchanges, function(k, v){
                                    %>
                                        <div class="dRequest">
                                            <div class="dName">
                                                <a href="mailto:<%- v.email; %>?Subject=Hello%20again" target="_top"><%- ((v.fullname!='' && v.fullname != undefined)? v.fullname: v.email); %></a>
                                                <span><%- v.dateVN; %></span>
                                            </div>
                                            <div class="dRequestText"><%- v.detail; %></div>
                                        </div>
                                    <%
                                });
                        %>
                        <% include ../../Home/View/Partial/paginator.ejs %>
                    </div>
                    <fieldset class="fRequest2 fRequest3">
                        <legend>Ý kiến trao đổi</legend>
                        <form id="fExchange">
                            <div class="dLine">
                                <label for="fullname">Họ Tên:</label>
                                <input type="text" name="name" id="fullname" class="form-control fullname" value="">
                            </div>
                            <div class="dLine">
                                <label for="email">Email:</label>
                                <input type="text" name="email" id="email" class="form-control email error" value="">
                            </div>
                            <div class="dLine">
                                <label for="detail">Nội dung:</label>
                                <textarea name="detail" maxlength="230" id="detail" class="form-control detail error"></textarea>
                            </div>
                            <div class="dLineControl">
                                <input class="iExchangeSubmit" type="button" value="Gửi">
                                <input type="reset" value="Làm mới">
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>