<div class="dSideProfile">
    <div>
        <div>
            <img src="" alt="khatech"/>
            <span class="sMask"></span>
        </div>
        <span></span>
    </div>
    <div>
        <h4>HỌC VIÊN</h4>
        <a side="active" href="<%- $.config.baseurl($.req); %>/hoc-vien/kich-hoat-khoa-hoc" title="Kích hoạt khóa học"><img src="<%- $.config.skin; %>/power-icon.png" alt="khatech"/><img src="<%- $.config.skin; %>/power-icon-act.png" alt="khatech"/>Kích hoạt khóa học</a>
        <a side="student" href="<%- $.config.baseurl($.req); %>/hoc-vien" title="Khóa học của tôi"><img src="<%- $.config.skin; %>/lesson-icon2.png" alt="khatech"/><img src="<%- $.config.skin; %>/course-icon2.png" alt="khatech"/>Khóa học của tôi</a>
        <a side="gift" href="<%- $.config.baseurl($.req); %>/hoc-vien/qua-tang" title="Quà tặng"><img src="<%- $.config.skin; %>/gift-icon.png" alt="khatech"/><img src="<%- $.config.skin; %>/gift-icon-act.png" alt="khatech"/>Quà tặng</a>
        <a side="support" href="<%- $.config.baseurl($.req); %>/hoc-vien/yeu-cau-ho-tro" title="Gửi yêu cầu"><img src="<%- $.config.skin; %>/edit-icon.png" alt="khatech"/><img src="<%- $.config.skin; %>/edit-icon-act.png" alt="khatech"/>Gửi yêu cầu</a>
        <a side="comment" href="<%- $.config.baseurl($.req); %>/hoc-vien/thao-luan" title="Thảo luận của tôi"><img src="<%- $.config.skin; %>/comment-icon2.png" alt="khatech"/><img src="<%- $.config.skin; %>/comment-icon2-act.png" alt="khatech"/>Thảo luận của tôi</a>
        <a side="profile" href="<%- $.config.baseurl($.req); %>/hoc-vien/thong-tin" title="Thông tin cá nhân"><img src="<%- $.config.skin; %>/student-icon3.png" alt="khatech"/><img src="<%- $.config.skin; %>/student-icon3-act.png" alt="khatech"/>Thông tin cá nhân</a>
        <a side="inbox" href="<%- $.config.baseurl($.req); %>/hoc-vien/hop-thu" title="Hộp thư"><img src="<%- $.config.skin; %>/email-icon2.png" alt="khatech"/><img src="<%- $.config.skin; %>/email-icon2-act.png" alt="khatech"/>Hộp thư</a>
        <a side="history" href="<%- $.config.baseurl($.req); %>/hoc-vien/lich-su-thanh-toan" title="Lịch sử giao dịch"><img src="<%- $.config.skin; %>/history-icon.png" alt="khatech"/><img src="<%- $.config.skin; %>/history-icon-act.png" alt="khatech"/>Lịch sử giao dịch</a>
    </div>
</div>