<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%- $.config.skin; %>/admin/favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="<%- $.config.css; %>/frontend/style.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="<%- $.config.js; %>/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/TimelineMax.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/TweenMax.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.lazyload.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.mousewhell.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.validate.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.selectBox.js"></script>
    <script type="text/javascript" language="javascript">
        var SITENAME = '<%- $.config.sitename; %>';
        var LINK = '<%- $.config.link; %>';
        var BASEURL = '<%- $.baseurls(req); %>';
        var SKIN = '<%- $.config.skin; %>';
        var IMG = '<%- $.config.img; %>';
        var PAGE = '<%- $.page; %>';
        var LANG = '<%- (typeof($.req.params.lang) === "undefined")? 'vi': $.req.params.lang; %>';
        var UICOLOR = '#3F5D7D';
    </script>
    <script type="text/javascript" <%- ($.config.onsocket)? 'src="/socket.io/socket.io.js"': ''; %>></script>
    <script type="text/javascript" src="<%- $.config.js; %>/libs.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('body').fadeTo(200, 1);
        });
    </script>
</head>
<body>
<%- include('../'+template+'.ejs'); %>
</body>
</html>