<div class="d_section">
    <% include Partial/banner.ejs %>
    <div class="d_content">
        <div class="d_rsize">
            <% include Partial/findMeOnFB.ejs %>
            <div class="d_box">
                <h3><%- $.trans.gettext('Requires your favorite song'); %>.</h3>
                <div class="dRequireSong">
                    <form method="post">
                        <label for="iSongRequire" generated="true" class="error" style="display: none;"></label>
                        <input type="text" id="iSongRequire" name="songrequire" placeholder="<%- $.trans.gettext('Song name') + ' - ' + $.trans.gettext('Artist name'); %>">
                        <label for="iNameRequire" generated="true" class="error" style="display: none;"></label>
                        <input type="text" id="iNameRequire" name="namerequire" placeholder="<%- $.trans.gettext('Your name'); %>">
                        <button class="a_bg_btn"><%- $.trans.gettext('Send'); %></button>
                    </form>
                </div>
            </div>
            <div class="d_box">
                <h3><%- $.trans.gettext('List of song require'); %>.</h3>
                <div class="dRequireList">
                    <%
                        if(requires.length>0)
                            $.each(requires, function(k, v){
                                if(v.live==false)
                                {
                                    %>
                                        <p><i class="fas fa-hourglass-half"></i> <%- v.detail; %> <sub><%- v.fullname; %> - <%- v.dateVN; %></sub></p>
                                    <%
                                }
                                else
                                {
                                    %>
                                        <p><i class="fas fa-check"></i> <%- v.detail; %> <sub><%- v.fullname; %> - <%- v.dateVN; %></sub></p>
                                    <%
                                }
                            });
                    %>
                </div>
            </div>
        </div>
        <div class="d_artical">
            <h2><%- content.title; %></h2>
            <div class="d_detal dItems">
                <div class="dPlayerFrame">
                    <div class="dPlayer" playing="0" time="1" ready="0">
                        <form method="post" id="fSongInfo">
                            <a class="aSearchsSong"><i class="fas fa-search"></i></a>
                            <textarea class="tSongTitle"><%- audios[0].name; %></textarea>
                            <input class="iCreatedSong" type="text" value="<%- audios[0].dateVN; %>" maxlength="19" readonly>
                            <span class="sBtn sInsertPlaylist"><select>
                                <option value="-1"><%- $.trans.gettext('Add to playlist'); %> ...</option>
                                <option value="0"><%- $.trans.gettext('Create new playlist and add'); %></option>
                            </select></span>
                            <div>
                                <label>0</label>
                                <input class="iSongTime" type="text" value="<%- audios[0].params.duration; %>" readonly>
                            </div>
                        </form>
                        <div class="dSeek">
                            <div><span></span></div>
                        </div>
                        <div class="dControlPlayer">
                            <a class="aPrevList fas fa-backward"></a>
                            <a class="aPlayList fas fa-play"></a>
                            <a class="aNextList fas fa-forward"></a>
                        </div>
                        <div class="dVolume">
                            <div><span></span></div>
                        </div>
                    </div>
                    <%
                        $.each(audios, function(k, v){
                            if(k%2==0)
                            {
                                %>
                                    </div>
                                    <div style="display: inline-block; width: 100%;">
                                <%
                            }
                            %>
                                <div class="d_theme dNews">
                                    <a title="<%- v.name; %>"><img src="<%- $.config.skin; %>/logo2.png" alt="wsup3"/></a>
                                    <p><a title="<%- v.name; %>"><i class="far fa-play-circle"></i> <%- v.name; %></a></p>
                                    <p><i class="far fa-clock"></i> <%- v.params.duration+'s - '+v.dateVN; %></p>
                                </div>
                            <%
                        });
                    %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bgPopup"></div>