<div class="d_wait">
  <span></span>
  <img src="<%- $.config.skin; %>/wait.gif" alt="wsup3" title="Chờ trong giây lát"/>
</div>
<div class="d_wrap">
    <div class="d_section">
        <div class="d_frame_theme">
            <iframe width="100%" height="100%" class="i_theme" src="<%- content.params.url.detail; %>"></iframe>
            <div class="d_comment_theme">
                <a class="a_close_comment" title="Ẩn bình luận"><img src="<%- $.config.skin; %>/close-popup.jpg" alt="close"/></a>
                <div class="d_btnlike_theme">
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=945512672227187";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-like" data-href="<%- $.baseurl(req)+'/'+content.path; %>" data-layout="standard" width="650px" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=945512672227187&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-comments" data-href="<%- $.baseurl(req)+'/'+content.path; %>" width="100%" data-numposts="10" data-colorscheme="light"></div>
            </div>
        </div>
        <div class="d_control_theme">
            <h2 title="<%- content.title; %>">Đặt website với giao diện <%- content.title.toLowerCase(); %></h2>
            <form id="fOrder" method="post" contentid="<%- content._id; %>" path="<%- content.path; %>" img="<%- ((content.imgs.hasOwnProperty(0) == true) ? ((typeof(content.imgs[0])=='object')? ((content.imgs[0]!=null)? content.imgs[0][0]: $.config.skin + '/logo2.jpg'): content.imgs[0]) : $.config.skin + '/logo2.jpg'); %>">
                <div class="d_line_theme">
                    <label for="iName"><span>Tên đầy đủ *:</span>
                        <input type="text" name="name" id="iName">
                    </label>
                </div>
                <div class="d_line_theme">
                    <label for="iPhone"><span>Số điện thoại *:</span>
                        <input type="number" name="phone" id="iPhone">
                    </label>
                </div>
                <div class="d_line_theme">
                    <label for="iEmail"><span>Email *:</span>
                        <input type="email" name="email" id="iEmail">
                    </label>
                </div>
                <div class="d_line_theme">
                    <label for="iAddress"><span>Địa chỉ:</span>
                        <input type="text" name="address" id="iAddress">
                    </label>
                </div>
                <div class="d_line_theme">
                    <label for="iDetail"><span>Yêu cầu:</span>
                        <textarea name="detail" id="iDetail"></textarea>
                    </label>
                  <label class="lBooksText">Cảm ơn bạn đã đặt thiết kế website tại Wsup3, chúng tôi sẽ liên hệ đến ban sớm</label>
                </div>
            </form>
            <input type="submit" class="a_bg_btn iOrder" value="Gửi">
            <span title="Bình luận" class="a_bg_btn s_comment">Bình luận</span>
        </div>
        <span class="s_more">
            <img class="i_hide" src="<%- $.config.skin; %>/hide.jpg" alt="wsup3"/>
            <img class="i_show" src="<%- $.config.skin; %>/show.jpg" alt="wsup3"/>
        </span>
    </div>
</div>