<script>
    var wId = '<%- content.wid; %>'
</script>
<div class="dClassContent">
    <% include Partial/controls.ejs %>
    <form method="post" id="fTalk" class="fTalk">
        <input class="iChatRers" type="hidden" value="<%- req.params.path; %>" id="<%- content._id; %>" site="<%- content.site; %>"/>
        <div class="dChatText"></div>
        <div class="dConversation">
            <div class="dTalkBg"></div>
            <div class="dTalkDetail">
                <div></div>
            </div>
        </div>
        <div class="dTalkControl">
            <div class="dWriterControl">
                <div class="dWriterBg"></div>
                <div class="dContentWriter" contenteditable="true"></div>'
            </div>
            <a class="aSendMess" title="Message" style="display: inline;"><img src="/public/media/images/skin/admin/send.png" alt="wsup3" title="Message"></a>
        </div>
    </form>
    <% include Partial/controls2.ejs %>
    <div class="dContent">
        <div class="dLine">
            <div class="d2 dLam1" pos="104">
                <h3><span>Phố Cố Đô</span><br/><span>399</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="103">
                <h3><span>Cấp tài trợ</span><br/><span>100</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/salary.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dLam1" pos="102">
                <h3><span>Nha Trang</span><br/><span>350</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="101">
                <h3><span>Cơ hội</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/thing2.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2" pos="100">
                <h3><span>Bến xe lam Sài Gòn</span><br/><span>200</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/sgTrv.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dGreen1" pos="99">
                <h3><span>Nguyễn Ái Học</span><br/><span>320</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="98">
                <h3><span>Vận mệnh</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/thing1.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dGreen1" pos="97">
                <h3><span>Lê Văn Thành</span><br/><span>300</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2 dGreen1" pos="96">
                <h3><span>Phan Thanh Giản</span><br/><span>300</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
        </div>
        <div class="dLSide">
            <div class="d1" pos="65">
                <h3><span>Trạm khởi hành</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/start.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dLam2" pos="66">
                <h3><span>Tiền Lâm</span> - <span>60</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="67">
                <h3><span>Vận mệnh</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/thing1.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dLam2" pos="68">
                <h3><span>Nhà bè</span> - <span>60</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="69">
                <h3><span>Giá trị gia tăng</span> - <span>200</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/tax.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2" pos="70">
                <h3><span>Bến xe liên tỉnh</span> - <span>200</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/greenTrv.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dLam3" pos="71">
                <h3><span>Thị Nghè</span> - <span>100</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="72">
                <h3><span>Cơ hội</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/thing2.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dLam3" pos="73">
                <h3><span>Tân Định</span> - <span>100</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2 dLam3" pos="74">
                <h3><span>Bến Sài Gòn</span> - <span>120</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d1" pos="75">
                <h3><span>Thăm bệnh</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/care.png" alt="cazs"/>
                </div>
            </div>
        </div>
        <div class="dLine2 dLine">
            <div class="d2 dRed2" pos="76">
                <h3><span>Phan Đình Giót</span><br/><span>140</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="77">
                <h3><span>Công ty điện</span><br/><span>150</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/light.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dRed2" pos="78">
                <h3><span>Trịnh Minh Công</span><br/><span>160</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2 dRed2" pos="79">
                <h3><span>Lý Nam Đế</span><br/><span>160</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="80">
                <h3><span>Bến xe lam chợ lớn</span><br/><span>200</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/lamTrv.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dRed3" pos="81">
                <h3><span>Đại lộ Văn Lang</span><br/><span>180</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="82">
                <h3><span>Vận mệnh</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/thing1.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dRed3" pos="83">
                <h3><span>Gia Long</span><br/><span>180</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2 dRed3" pos="84">
                <h3><span>Bến Đằng Khèo</span><br/><span>200</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
        </div>
        <div class="dRSide">
            <div class="d1" pos="95">
                <h3><span>Cách ly</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/isolation.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dGreen3" pos="94">
                <h3><span>Xa lộ Biên Hòa</span> - <span>280</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="93">
                <h3><span>Công ty lọc máy</span> - <span>150</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/particle.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dGreen3" pos="92">
                <h3><span>Đại lộ hai bà hai</span> - <span>260</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2 dGreen3" pos="91">
                <h3><span>Đại lộ Hồng Thập Chinh</span> - <span>260</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="90">
                <h3><span>Bến xe An Đông</span> - <span>200</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/anTrv.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dRed1" pos="89">
                <h3><span>Đại lộ Cộng Hòa</span> - <span>239</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2 dRed1" pos="88">
                <h3><span>Đại lộ Thống Nhất</span> - <br/><span>220</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d2" pos="87">
                <h3><span>Cơ hội</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/thing2.png" alt="cazs"/>
                </div>
            </div>
            <div class="d2 dRed1" pos="86">
                <h3><span>Phố Công Lý</span> - <span>220</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></h3>
            </div>
            <div class="d1" pos="85">
                <h3><span>Sân bay</span></h3>
                <div class="dSquare">
                    <img src="<%- $.config.skin; %>/imgs/airport.png" alt="cazs"/>
                </div>
            </div>
        </div>
        <div class="dDetlAction">
            <a class="aCloseDetl"><i class="fa fa-minus-square"></i></a>
            <div></div>
        </div>
        <a class="aExperiences aWaiting" title="Đi trải nghiệm"><i class="fa fa-suitcase"></i></a>
    </div>
</div>