<div class="d_section">
    <% include Partial/banner.ejs %>
    <div class="d_content">
        <div class="d_rsize">
            <% include Partial/themes.ejs %>
        </div>
        <div class="d_artical">
            <h2><%- content.title; %></h2>
            <div class="d_detail dItems">
                <%
                    $.each(posts, function(k, v){
                        %>
                            <div class="d_theme">
                                <a href="<%- v.path; %>" title="<%- v.title; %>"><img class="lazyItem" data-original="<%- ((v.imgs.hasOwnProperty(0) == true) ? ((typeof(v.imgs[0])=='object')? ((v.imgs[0]!=null)? v.imgs[0][0]: $.config.skin + '/logo2.jpg'): v.imgs[0]) : $.config.skin + '/logo2.jpg'); %>" alt="<%- v.path; %>" title="<%- v.title; %>"/></a>
                                <p><a href="<%- v.path; %>" title="<%- v.title; %>"><%- v.title; %></a></p>
                            </div>
                        <%
                    });
                %>
            </div>
            <div class="d_page_article">
                <% include Partial/paginator.ejs %>
            </div>
        </div>
    </div>
</div>