<div class="dClassesContent">
    <% include Partial/controls.ejs %>
    <% include Partial/controlsMenu.ejs %>
    <%
        $.each(posts, function(k, v){
            %>
                <div class="dClass" path="<%- v.path; %>">
                    <span><img src="<%- $.config.skin + ((v.live==true)? '/imgs/glasses': '/imgs/people'); %>.png" alt="cazs"/> <span><%- v.views; %></span></span>
                    <span><%- v.position; %></span>
                    <span><%- v.people.displayname; %> đã tạo phòng</span>
                </div>
            <%
        });
    %>
    <% include Partial/paginator.ejs %>
    <form method="post" id="fTalk" class="fTalk">
        <input class="iChatRers" type="hidden" value="classes"/>
        <div class="dChatText"></div>
        <div class="dConversation">
            <div class="dTalkBg"></div>
            <div class="dTalkDetail">
                <div></div>
            </div>
        </div>
        <div class="dTalkControl">
            <div class="dWriterControl">
                <div class="dWriterBg"></div>
                <div class="dContentWriter" contenteditable="true"></div>'
            </div>
            <a class="aSendMess" title="Message" style="display: inline;"><img src="/public/media/images/skin/admin/send.png" alt="wsup3" title="Message"></a>
        </div>
    </form>
</div>