<div class="dPages">
    <%
        if($.req.query.page-2>0)
        {
            %>
                <a class="aArowStyle" href="<%- $.path; %>&page=1" title="<%- $.trans.gettext('First page'); %>">&laquo;</a>
            <%
        }
        if($.req.query.page-1>0)
        {
            %>
                <a class="aArowStyle" href="<%-  $.path; %>&page=<%- $.req.query.page-1; %>" title="<%- $.trans.gettext('Page')+' '+(parseInt($.req.query.page)-1); %>">&lsaquo;</a>
            <%
        }
        for(var page = $.req.query.page-4; page <= $.req.query.page+4; page++)
        {
            if(page>0 && page<=$.totalPages)
            {
                %>
                    <a <%- (page == $.req.query.page)? 'class="aPageAct"': ''; %> href="<%-  $.path; %>&page=<%- page; %>" title="<%- $.trans.gettext('Page'); %> <%- page; %>"><%- page; %></a>
                <%
            }
        }
        if(parseInt($.req.query.page)+1<=$.totalPages)
        {
            %>
                <a class="aArowStyle" href="<%-  $.path; %>&page=<%- parseInt($.req.query.page)+1; %>" title="<%- $.trans.gettext('Page')+' '+(parseInt($.req.query.page)+1); %>">&rsaquo;</a>
            <%
        }
        if(parseInt($.req.query.page)+2<=$.totalPages)
        {
            %>
                <a class="aArowStyle" href="<%-  $.path; %>&page=<%- $.totalPages; %>" title="<%- $.trans.gettext('Last page'); %>">&raquo;</a>
            <%
        }
    %>
</div>