<div class="dSiteBody">
    <% include ../../Content/View/Partial/sidebar.ejs %>
    <div class="dMainContent">
        <div class="dNavigate">
            <p><i class="fas fa-caret-left"></i> <a href="<%- $.baseurls(req); %>" title="Trang chủ">Trang chủ</a></p>
        </div>
        <h2 class="tran_text">THÔNG TIN ĐƠN HÀNG|ORDER INFORMATION|||</h2>
        <table cellspacing="0" class="tCart">
            <thead>
                <tr>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <strong>Tổng tiền</strong>
                    </td>
                    <td>
                        <strong><span class="sPriceTotal" total="0"></span></strong>
                    </td>
                </tr>
            </tfoot>
        </table>
        <h2><%- title; %></h2>
        <div class="dDetail dContactDetail">
            <div class="dPayType">
                <label><input name="payType" class="iPayType" type="radio" value="normal" checked/> Thanh toán khi nhận hàng</label>
                <p><b>- Nhận hàng tại nhà, được kiểm tra hàng trước khi thanh toán</b></p>
                <label><input name="payType" class="iPayType" type="radio" value="bank"/> Thanh toán chuyển khoản qua ngân hàng</label>
            </div>
            <form method="post" id="fCart">
                <div>
                    <label for="iFullName">Họ tên(<span>*</span>):</label>
                    <input id="iFullName" name="fullname" value="" placeholder="Họ tên" type="text"/>
                </div>
                <div>
                    <label for="iEmail">Email(<span>*</span>):</label>
                    <input id="iEmail" name="email" value="" placeholder="Email" type="text"/>
                </div>
                <div>
                    <label for="iPhone">Điện thoại(<span>*</span>):</label>
                    <input id="iPhone" name="phone" value="" placeholder="Điện thoại" type="number"/>
                </div>
                <div>
                    <label for="iAddress">Địa chỉ(<span>*</span>):</label>
                    <input id="iAddress" name="address" value="" placeholder="Địa chỉ" type="text"/>
                </div>
                <div>
                    <label for="iDetail">Yêu cầu:</label>
                    <textarea id="iDetail" name="detail" placeholder="Yêu cầu"></textarea>
                </div>
                <a>Chuyển đơn hàng</a>
            </form>
            <p>DỊCH VỤ CHO THUÊ XE MÁY NHA TRANG</p>
            <p><i class="fas fa-map-marker-alt"></i> <a href="https://www.google.com/maps/search/?api=1&query=442 Lê Hồng Phong, Nha Trang, Khánh Hòa" title="442 Lê Hồng Phong, Nha Trang, Khánh Hòa">442 Lê Hồng Phong, Nha Trang, Khánh Hòa</a></p>
            <p><i class="fa fa-phone-square"></i> <a href="tel:0868915351"><%- $.config.phone; %></a></p>
            <p><i class="far fa-envelope"></i> <a href="mailto:<%- $.config.remail; %>"><%- $.config.remail; %></a></p>
        </div>
        <div class="dBtnLike">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=945512672227187";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="<%- $.baseurls(req)+'/thanh-toan'; %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
        <div class="dCommentFb">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&appId=945512672227187&version=v2.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-comments" data-href="<%- $.baseurls(req)+'/thanh-toan'; %>" width="100%" data-numposts="10" data-colorscheme="light"></div>
        </div>
    </div>
</div>
<% include ../../Home/View/Partial/map.ejs %>