<div class="dDashBrowser">
  <div class="dBoardAction dMainBoard dShow">
      <div class="dFramePng">
        <div class="dApp dWebApp">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/fb.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" weburl="https://www.facebook.com/" mobileurl="https://www.facebook.com/">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/fb.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="Facebook">
                <img src="<%- $.config.skin; %>/admin/fb.png" alt="wsup3"/>
            </a>
            <a title="Facebook">Facebook</a>
        </div>
        <div class="dApp dWebApp">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/bing.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" weburl="https://www.bing.com/" mobileurl="https://www.bing.com/">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/bing.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Bing Search'); %>">
                <img src="/public/media/images/skin/admin/bing.png" alt="wsup3">
            </a>
            <a title="<%- $.trans.gettext('Bing Search'); %>"><%- $.trans.gettext('Bing Search'); %></a>
        </div>
        <div class="dApp dWebApp">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/itg.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" weburl="https://www.instagram.com/" mobileurl="https://www.instagram.com/">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/itg.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="Instagram">
                <img src="<%- $.config.skin; %>/admin/itg.png" alt="wsup3"/>
            </a>
            <a title="Instagram">Instagram</a>
        </div>
        <div class="dApp dWebApp">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/1b.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" weburl="https://www.bestbuy.com/?intl=nosplash" mobileurl="https://www.bestbuy.com/?intl=nosplash">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/1b.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="Best buy">
                <img src="<%- $.config.skin; %>/admin/1b.png" alt="wsup3"/>
            </a>
            <a title="Best buy">Best buy</a>
        </div>
        <div class="dApp dWebApp">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/sp.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" weburl="https://open.spotify.com/" mobileurl="https://open.spotify.com/">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/sp.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="Spotify">
                <img src="<%- $.config.skin; %>/admin/sp.png" alt="wsup3"/>
            </a>
            <a title="Spotify">Spotify</a>
        </div>
        <div class="dApp dWebApp">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/tw.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" weburl="https://twitter.com/" mobileurl="https://twitter.com/">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/tw.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="Twitter">
                <img src="<%- $.config.skin; %>/admin/tw.png" alt="wsup3"/>
            </a>
            <a title="Twitter">Twitter</a>
        </div><br/>
        <div class="dApp dAppFeature">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/customer.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardForgot">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/forgot.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Forgot password'); %>">
                <img src="<%- $.config.skin; %>/admin/forgot.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Forgot password'); %>"><%- $.trans.gettext('Forgot password'); %></a>
        </div>
        <div class="dApp dAppFeature">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/customer.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardRegister">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/register.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Register'); %>">
                <img src="<%- $.config.skin; %>/admin/register.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Register'); %>"><%- $.trans.gettext('Register'); %></a>
        </div>
        <div class="dApp dAppFeature">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/login.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardLogin">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/login.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Login'); %>">
                <img src="<%- $.config.skin; %>/admin/login.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Login'); %>"><%- $.trans.gettext('Login'); %></a>
        </div>
      </div>
  </div>
</div>
<div class="dRSide">
  <span class="sBMidle"></span>
  <span class="sBRight"></span>
  <div>
    <br/><br/><br/>
    <div class="dBoardLogin">
      <div class="dFramePng">
        <form method="post" id="fLogin">
            <input type="email" id="iEmail" placeholder="<%- $.trans.gettext('Email'); %>" name="email"/>
            <input type="password" id="iPassword" placeholder="<%- $.trans.gettext('Password'); %>" name="password"/>
            <%
                if(typeof(msg)!='undefined')
                {
                    %><label for="iPassword" generated="true" class="error"><%- msg; %></label><%
                }
                msg = undefined;
            %>
            <span class="sBtn"><input class="iSubmit" type="button" title="<%- $.trans.gettext('Login'); %>" value="<%- $.trans.gettext('Login'); %>"/></span>
        </form>
      </div>
    </div>
    <div class="dBoardRegister">
      <div class="dFramePng">
        <form method="post" id="fRegister">
            <input type="email" id="iEmail" placeholder="<%- $.trans.gettext('Email'); %>" name="email"/>
            <input type="password" id="iPassword" placeholder="<%- $.trans.gettext('Password'); %>" name="password"/>
            <input type="password" id="iRePassword" placeholder="<%- $.trans.gettext('Retype password'); %>" name="repassword"/>
            <input type="text" id="iDisplayName" placeholder="<%- $.trans.gettext('Display name'); %>" name="displayname"/>
            <canvas id="cCaptcha" width="100" height="29"></canvas>
            <input type="text" id="iCaptcha" placeholder="<%- $.trans.gettext('Confirm code'); %>" name="captcha"/>
            <span class="sBtn"><input class="iSubmit" type="button" title="<%- $.trans.gettext('Register'); %>" value="<%- $.trans.gettext('Register'); %>"/></span>
        </form>
      </div>
    </div>
    <div class="dBoardForgot">
      <div class="dFramePng">
        <form method="post" id="fForgot">
            <input type="email" id="iEmail" placeholder="<%- $.trans.gettext('Email'); %>" required name="email"/>
            <canvas id="cCaptcha2" width="100" height="29"></canvas>
            <input type="text" id="iCaptcha" placeholder="<%- $.trans.gettext('Confirm code'); %>" name="captcha"/>
            <span class="sBtn"><input class="iSubmit" type="button" title="<%- $.trans.gettext('Send new password to email'); %>" value="<%- $.trans.gettext('Send new password to email'); %>"/></span>
        </form>
      </div>
    </div>
    <br/><br/>
  </div>
  <span class="sBTop"></span>
  <span class="sBBottom"></span>
  <span class="sFeaControl">
    <a><i class="fas fa-angle-double-right"></i></a>
    <a><i class="fas fa-check"></i></a>
  </span>
</div>