<div class="dBoardAction dMainBoard dShow">
    <div class="dFramePng">
      <div class="dApp dWebApp">
          <div class="dNotify">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/fb.png')"></span>
              <span class="sScreen"></span>
              <span class="sNumber">6</span>
          </div>
          <div class="dClose" weburl="https://www.facebook.com/" mobileurl="https://www.facebook.com/">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/fb.png')"></span>
              <span class="sScreen"></span>
              <span class="fa fa-times"></span>
          </div>
          <a title="Facebook">
              <img src="<%- $.config.skin; %>/admin/fb.png" alt="wsup3"/>
          </a>
          <a title="Facebook">Facebook</a>
      </div>
      <div class="dApp dWebApp">
          <div class="dNotify">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/bing.png')"></span>
              <span class="sScreen"></span>
              <span class="sNumber">6</span>
          </div>
          <div class="dClose" weburl="https://www.bing.com/" mobileurl="https://www.bing.com/">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/bing.png')"></span>
              <span class="sScreen"></span>
              <span class="fa fa-times"></span>
          </div>
          <a title="<%- $.trans.gettext('Bing Search'); %>">
              <img src="/public/media/images/skin/admin/bing.png" alt="wsup3">
          </a>
          <a title="<%- $.trans.gettext('Bing Search'); %>"><%- $.trans.gettext('Bing Search'); %></a>
      </div>
      <div class="dApp dWebApp">
          <div class="dNotify">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/itg.png')"></span>
              <span class="sScreen"></span>
              <span class="sNumber">6</span>
          </div>
          <div class="dClose" weburl="https://www.instagram.com/" mobileurl="https://www.instagram.com/">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/itg.png')"></span>
              <span class="sScreen"></span>
              <span class="fa fa-times"></span>
          </div>
          <a title="Instagram">
              <img src="<%- $.config.skin; %>/admin/itg.png" alt="wsup3"/>
          </a>
          <a title="Instagram">Instagram</a>
      </div>
      <div class="dApp dWebApp">
          <div class="dNotify">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/1b.png')"></span>
              <span class="sScreen"></span>
              <span class="sNumber">6</span>
          </div>
          <div class="dClose" weburl="https://www.bestbuy.com/" mobileurl="https://www.bestbuy.com/">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/1b.png')"></span>
              <span class="sScreen"></span>
              <span class="fa fa-times"></span>
          </div>
          <a title="Best buy">
              <img src="<%- $.config.skin; %>/admin/1b.png" alt="wsup3"/>
          </a>
          <a title="Best buy">Best buy</a>
      </div>
      <div class="dApp dWebApp">
          <div class="dNotify">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/sp.png')"></span>
              <span class="sScreen"></span>
              <span class="sNumber">6</span>
          </div>
          <div class="dClose" weburl="https://open.spotify.com/" mobileurl="https://open.spotify.com/">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/sp.png')"></span>
              <span class="sScreen"></span>
              <span class="fa fa-times"></span>
          </div>
          <a title="Spotify">
              <img src="<%- $.config.skin; %>/admin/sp.png" alt="wsup3"/>
          </a>
          <a title="Spotify">Spotify</a>
      </div>
      <div class="dApp dWebApp">
          <div class="dNotify">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/tw.png')"></span>
              <span class="sScreen"></span>
              <span class="sNumber">6</span>
          </div>
          <div class="dClose" weburl="https://twitter.com/" mobileurl="https://twitter.com/">
              <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/tw.png')"></span>
              <span class="sScreen"></span>
              <span class="fa fa-times"></span>
          </div>
          <a title="Twitter">
              <img src="<%- $.config.skin; %>/admin/tw.png" alt="wsup3"/>
          </a>
          <a title="Twitter">Twitter</a>
      </div>
    </div>
</div>