<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="keBfeF1VZhUw58JcNBnbFItG7gW9r_mikdLjarJjiXM" />
    <meta name="msvalidate.01" content="2E4F7F6D5A964A73FB37ACE86AA2327B" />
    <meta name="yandex-verification" content="d63d88419a17c0ad" />
    <meta name="description" content="<%- ($.config.except=='')? '&nbsp;': $.config.except; %>">
    <title><%- title+' - '+$.config.sitename; %></title>
    <link href="<%- $.config.skin; %>/admin/favicon.ico?ver=2.0" rel="shortcut icon">
    <link href="<%- $.config.media; %>/fonts/Coming_Soon/stylesheet.css?ver=1.17" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.media; %>/fonts/opensans/stylesheet.css" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.media; %>/fonts/fontawesome-5.6.3/css/all.css?ver=1.17" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.css; %>/frontend/style.css?ver=1.17" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="<%- $.config.js; %>/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/TimelineMax.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/TweenMax.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.validate.min.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-692696069"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153522563-1"></script>
    <script type="text/javascript" language="javascript">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-153522563-1');
		gtag('config', 'AW-692696069');
		gtag('config', 'AW-692696069/4uSuCLyjzbUBEIXopsoC', {
			'phone_conversion_number': '0868915351'
		});
		//ga('create', 'UA-153522563-1', 'auto');
		//ga('send', 'pageview');
        var BASEURL = '<%- $.baseurls(req); %>';
        var BASEURLs = '<%- $.baseurls(req); %>';
        var PAGE = '<%- page; %>';
        var SLUG = '/<%- path; %>';
        var LANG = '<%- (typeof(req.params.lang) === "undefined")? 'vi': req.params.lang; %>';
        var SITENAME = '<%- $.config.sitename; %>';
        var SKIN = '<%- $.config.skin; %>';
        var IMG = '<%- $.config.img; %>';
        var UICOLOR = '#3F5D7D';
        var map = [];
    </script>
    <script type="text/javascript" <%- ($.config.onsocket)? 'src="/socket.io/socket.io.js"': ''; %>></script>
    <script type="text/javascript" src="<%- $.config.js; %>/libs.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/frontend/script.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="title" content="<%- title; %>">
    <meta property="description" content="<%- ($.config.except=='')? '&nbsp;': $.config.except; %>">
    <meta property="keywords" content="<%- $.config.keys; %>">
    <meta property="robots" content="ALL, INDEX, FOLLOW">
    <meta property="geo.region" content="<%- $.config.region; %>">
    <meta property="geo.placename" content="<%- $.config.place; %>">
    <meta property="geo.position" content="<%- $.config.pos; %>">
    <meta property="ICBM" content="<%- $.config.icbm; %>">
    <meta property="og:url" content="<%- $.baseurl(req)+((typeof($.config.url)=='undefined')? '/': '/'+$.config.url); %>">
    <meta property="og:site_name" content="<%- $.config.sitename; %>">
    <meta property="og:title" content="<%- $.title; %>">
    <meta property="og:description" content="<%- ($.config.except=='')? '&nbsp;': $.config.except; %>">
    <meta property="og:image" content="<%- $.baseurl(req)+$.config.image; %>">
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="<%- $.config.appid; %>">
    <meta property="fb:admins" content="<%- $.config.admins; %>">
    <meta property="twitter:card" content="<%- $.baseurl(req)+$.config.image; %>">
    <meta property="twitter:site" content="<%- $.config.sitename; %>">
    <meta property="twitter:title" content="<%- $.title; %>">
    <meta property="twitter:description" content="<%- ($.config.except=='')? '&nbsp;': $.config.except; %>">
    <meta property="twitter:creator" content="#">
</head>
<body>
	<div class="dWrap">
		<% include ../../../Home/View/Partial/header.ejs %>
		<%- include('../'+template+'.ejs'); %>
		<% include ../../../Home/View/Partial/footer.ejs %>
	</div>
</body>
</html>