    <div class="dFooter">
        <div class="dBoxfooter">
            <div class="dTitleBox">
                <a href="<%- $.baseurl(req); %>/khach-hang-doi-tac" title="">KHÁCH HÀNG - ĐỐI TÁC</a>
                <div class="dControl">
                    <a class="aPrevious2" title="Previous"><img class="lazy" data-original="<%- $.config.skin; %>/btn-previous2.png" alt=""/></a>
                    <a class="aNext2" title="Previous"><img class="lazy" data-original="<%- $.config.skin; %>/btn-next2.png" alt=""/></a>
                </div>
            </div>
            <div class="dContentBox">
                <%
                    $.each(partners, function(k, v){
                        if((k+4)%4==0)
                        {
                            %>
                                <div class="dItemSlide">
                            <%
                        }
                    %>
                        <div class="dItem">
                            <a title="<%- v.title; %>" href="<%- $.baseurl(req)+'/'+v.path; %>"><img src="<%- ((v.imgs.hasOwnProperty(0) == true) ? ((typeof(v.imgs[0])=='object')? ((v.imgs[0]!=null)? v.imgs[0][0]: $.config.skin + '/no_img.jpg'): v.imgs[0]) : $.config.skin + '/no_img.jpg'); %>" alt="<%- v.path; %>"/></a>
                        </div>
                    <%
                        if(k>0 && (k+1)%4==0 && k+1<Object.keys(content.imgs[0]).length)
                        {
                            %>
                                </div>
                            <%
                        }
                    });
                    %>
                        </div>
                    <%
                %>
            </div>
        </div>
        <div class="dBgMenusFooter">
            <div class="dMenuFooter">
                <div class="dContactFooter">
                    <div class="dLogoFooter">
                        <a href="#" title=""><img class="lazy" data-original="<%- $.config.skin; %>/logo-footer.png" alt=""/></a>
                    </div>
                    <div class="dAdress">
                        <%
                            $.each(contacts, function(k, v){
                                switch(v.path)
                                {
                                    case 'dia-chi':
                                            %>
                                                <p><span><img class="lazy" data-original="<%- $.config.skin; %>/home3.png" alt=""/></span><%- v.detail; %></p>
                                            <%
                                        break;
                                    case 'dien-thoai':
                                            %>
                                                <p><span><img class="lazy" data-original="<%- $.config.skin; %>/phone-icon.png" alt=""/></span><%- v.detail; %></p>
                                            <%
                                        break;
                                    case 'email':
                                            %>
                                                <p><span><img class="lazy" data-original="<%- $.config.skin; %>/email-icon.png" alt=""/></span><%- v.detail; %></p>
                                            <%
                                        break;
                                }
                            });
                        %>
                    </div>
                </div>
                <div class="dMenusFooter dMenusFooterFirst">
                    <p>HỖ TRỢ MUA HÀNG</p>
                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                        <%
                            $.each(supports, function(k, v){
                                %>
                                    <li itemprop="name"><a href="<%- $.baseurl(req)+'/'+v.path; %>" title="<%- v.title; %>" itemprop="url"><%- v.title; %></a></li>
                                <%
                            });
                        %>
                    </ul>
                </div>
                <div class="dMenusFooter">
                    <p>Kết nối với chúng tôi</p>
                    <ul>
                        <%
                            $.each(socials, function(k, v){
                                switch(v.path)
                                {
                                    case 'facebook':
                                            %><li><a href="<%- v.detail; %>" title="FACEBOOK">FACEBOOK</a></li><%
                                        break;
                                    case 'google':
                                            %><li><a href="<%- v.detail; %>" title="GOOGLE PLUS">GOOGLE PLUS</a></li><%
                                        break;
                                    case 'twitter':
                                            %><li><a href="<%- v.detail; %>" title="TWITTER">TWITTER</a></li><%
                                        break;
                                }
                            });
                        %>
                    </ul>
                </div>
                <div class="dMenusFooter">
                    <p>LIÊN KẾT WEBSITE</p>
                    <ul>
                        <%
                            if(typeof(links['params']['duong-dan'])!='undefined')
                                $.each(links['params']['duong-dan']['detail'], function(k, v){
                                    %><li><%- v; %></li><%
                                });
                        %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dCoppy">
            <p>Copyright © 2016 NỘI THẤT ANH KHÔI. Thiết kế website bởi <a target="_blank" style="color: #3F5D7D" href="http://wsup3.com/">WSUP3</a>.</p>
        </div>
    </div>
    <a class="aBackToTop"><img src="<%- $.config.skin; %>/back-to-top.png" alt=""/></a>
</div>