<div class="dHeader">
    <div class="dfixedMenu">
        <div class="dfixedMenu2">
            <div class="dSearch">
                <div class="dLogo">
                    <h1><a href="<%- $.baseurl(req); %>" title=""><img src="<%- $.config.skin; %>/logo.jpg" alt="wsup3"/></a></h1>
                </div>
                <p>0583 888 768  - DĐ 0935 48 8896</p>
                <div class="dSearch2">
                    <form action="/tim-kiem/" method="POST" id="fSearch">
                        <span><input type="text" name="keyword" id="keyword" class="keyword" placeholder="Tìm kiếm nội thất..." value=""></span>
                        <a class="aSearch"></a>
                    </form>
                </div>
                <a class="a_buy" title="Giỏ Hàng"><img src="<%- $.config.skin; %>/cast.png" alt="wsup3"> (<span class="s_num_pro"></span>) sản phẩm</a>
            </div>
            <div class="dMenu2">
                <ul class="dMenus" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                    <li itemprop="name"><a style="min-width: 91px" href="<%- $.baseurl(req); %>" title="Trang chủ" itemprop="url" class="<%- (page=='home')? 'aActiveMenu': ''; %>">Trang chủ</a></li>
                    <li itemprop="name"><a style="min-width: 82px" href="<%- $.baseurl(req); %>/gioi-thieu" title="Giới thiệu" itemprop="url" class="<%- (page=='gioi-thieu')? 'aActiveMenu': ''; %>">Giới thiệu</a></li>
                    <li itemprop="name"><a style="min-width: 147px" href="<%- $.baseurl(req); %>/tim-kiem" title="Tìm mua sản phẩm" itemprop="url" class="<%- (page=='tim-kiem')? 'aActiveMenu': ''; %>">Tìm mua sản phẩm</a></li>
                    <li itemprop="name"><a style="min-width: 179px" href="<%- $.baseurl(req); %>/khach-hang-doi-tac" title="Khách hàng - đối tác" itemprop="url" class="<%- (page=='khach-hang-doi-tac')? 'aActiveMenu': ''; %>">Khách hàng - đối tác</a></li>
                    <li itemprop="name"><a style="min-width: 147px" href="<%- $.baseurl(req); %>/ho-tro-mua-hang" title="Hỗ trợ mua hàng" itemprop="url" class="">Hỗ trợ mua hàng</a></li>
                    <li itemprop="name"><a style="min-width: 113px" href="<%- $.baseurl(req); %>/goc-trao-doi" title="Góc trao đổi" itemprop="url" class="<%- (page=='exchange')? 'aActiveMenu': ''; %>">Góc trao đổi</a></li>
                    <li itemprop="name"><a style="min-width: 61px" href="<%- $.baseurl(req); %>/tin-tuc" title="Tin tức" itemprop="url" class="<%- (page=='tin-tuc')? 'aActiveMenu': ''; %>">Tin tức</a></li>
                    <li itemprop="name"><a style="min-width: 59px" href="<%- $.baseurl(req); %>/lien-he" title="Liên hệ" itemprop="url" class="<%- (page=='lien-he')? 'aActiveMenu': ''; %>">Liên hệ</a></li>
                </ul>
            </div>
        </div>
    </div>