<div class="dSide">
    <div class="dBox">
        <div class="dTitleBox">
            <p>Chuyên mục sản phẩm</p>
        </div>
        <div class="dContentBox">
            <ul class="uMenuSide">
                <%
                    function getChild(_id)
                    {
                        %>
                            <span>
                                <ul>
                                    <%
                                        $.each(terms, function(k, v){
                                            if(typeof(v.cats) != 'undefined' && v.cats.length>0)
                                            {
                                                $.each(v.cats, function(k2, v2){
                                                    if(_id == String(v2))
                                                    {
                                                        %>
                                                            <li>
                                                                <img class="lazy" data-original="<%- $.config.skin; %>/li-subMenu.png" alt="li-subMenu"/>
                                                                <a href="<%- $.baseurl(req)+'/'+v.path; %>" title="<%- v.title; %>"><%- v.title; %></a>
                                                                <%
                                                                    $.each(terms, function(k3, v3){
                                                                        child = false;
                                                                        if(typeof(v3.cats) != 'undefined' && v3.cats.length>0)
                                                                        {
                                                                            $.each(v3.cats, function(k4, v4){
                                                                                if(String(v._id) == String(v4))
                                                                                {
                                                                                    getChild(String(v._id));
                                                                                    child = true;
                                                                                    return false;
                                                                                }
                                                                            });
                                                                        }
                                                                        if(child == true)
                                                                            return false;
                                                                    });
                                                                %>
                                                            </li>
                                                        <%
                                                        return false;
                                                    }
                                                });
                                            }
                                        });
                                    %>
                                </ul>
                            </span>
                        <%
                    }
                    $.each(menus, function(k, v){
                        child = false;
                        %>
                            <li>
                                <a href="<%- v.path; %>" title="<%- v.title; %>"><%- v.title; %><%
                                    $.each(terms, function(k2, v2){
                                        child = false;
                                        if(typeof(v2.cats) != 'undefined' && v2.cats.length>0)
                                        {
                                            $.each(v2.cats, function(k3, v3){
                                                if(String(v._id) == String(v3))
                                                {
                                                    %><span></span><%
                                                    child = true;
                                                    return false;
                                                }
                                            });
                                        }
                                        if(child == true)
                                            return false;
                                    });
                                %></a>
                                <%
                                    if(child == true)
                                        getChild(String(v._id));
                                %>
                            </li>
                        <%
                    });
                %>
                <span class="sBorder"></span>
            </ul>
        </div>
    </div>
    <div class="dBox">
        <div class="dTitleBox">
            <p>Facebook của chúng tôi</p>
        </div>
        <div class="dContentBox">
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=297146017099986";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page"data-href="https://www.facebook.com/noithat190nt/" data-width="340" data-hide-cover="false" data-show-facepile="true"></div>
        </div>
    </div>
    <div class="dBox dAds">
        <div class="dTitleBox">
            <p>Quảng cáo</p>
        </div>
        <div class="dContentBox">
            <?php
                foreach($data['ads'] as $ad)
                {
                    echo $ad['value'];
                }
            ?>
        </div>
    </div>
</div>