<div class="d_wait">
  <span></span>
  <img src="<%- $.config.skin; %>/wait.gif" alt="wsup3" title="Chờ trong giây lát"/>
</div>
<div class="d_wrap">
    <div class="d_header">
        <div class="dBgHead"></div>
        <div class="d_screen">
            <div class="d_logo">
                <h1>
                    <a title="Trang chủ" href="<%- $.baseurls(req); %>">CAZS</a>
                        <!--<span>W</span>
                        <span>S</span>
                        <span>U</span>
                        <span>P</span>
                        <span>3</span>
                    </a>-->
                </h1>
            </div>
            <a class="aMenu" title="Menu"><img src="<%- $.config.skin; %>/menu.png" alt="wsup3"/></a>
            <div class="d_menu">
                <div>
                    <ul itemscope itemtype="https://www.schema.org/SiteNavigationElement">
                        <li itemprop="name"><a itemprop="url" href="<%- $.baseurls(req)+'/gioi-thieu'; %>" title="Giới thiệu" class="<%- (page=='gioi-thieu')? 'd_menu_active': ''; %>"><span>Giới thiệu</span></a></li>
                        <li itemprop="name"><a itemprop="url" href="<%- $.baseurls(req)+'/giao-dien'; %>" title="Giao diện" class="<%- (page=='giao-dien')? 'd_menu_active': ''; %>"><span>Giao diện</span></a></li>
                        <li>
                            <a href="#" title="Dịch vụ" class="<%- (page=='quang-cao-google-adwords' || page=='quan-tri-website' || page=='cai-dat-game-va-phan-mem' || page=='cai-dat-game' || page=='kiem-tra-may-tinh-tai-nha' || page=='cai-dat-sua-chua-he-dieu-hanh-windows-android-cho-laptop-pc-tablet-windows')? 'd_menu_active': ''; %>"><span>Dịch vụ</span></a>
                            <span><i class="fa fa-caret-down"></i></span>
                            <ul>
                                <li itemprop="name">
                                    <p class="p_onl"><a itemprop="url" title="<%- $.trans.gettext('Website developer'); %>" class="<%- (page=='home')? 'd_menu_active': ''; %>" href="<%- $.baseurls(req); %>">- <%- $.trans.gettext('Website developer'); %></a></p>
                                </li>
                                <li itemprop="name">
                                    <p class="p_onl"><a itemprop="url" title="<%- $.trans.gettext('Advertises Google Adwords'); %>" class="<%- (page=='quang-cao-google-adwords')? 'd_menu_active': ''; %>" href="<%- $.baseurls(req)+'/quang-cao-google-adwords'; %>">- <%- $.trans.gettext('Advertises Google Adwords'); %></a></p>
                                </li>
                                <li itemprop="name">
                                    <p class="p_onl"><a itemprop="url" title="<%- $.trans.gettext('Managerments your website'); %>" class="<%- (page=='quan-tri-website')? 'd_menu_active': ''; %>" href="<%- $.baseurls(req)+'/quan-tri-website'; %>">- <%- $.trans.gettext('Managerments your website'); %></a></p>
                                </li>
                            </ul>
                        </li>
                        <li itemprop="name"><a itemprop="url" href="<%- $.baseurls(req)+'/tin-tuc'; %>" title="Tin tức" class="<%- (page=='tin-tuc')? 'd_menu_active': ''; %>"><span>Tin tức</span></a></li>
                        <li itemprop="name"><a itemprop="url" href="<%- $.baseurls(req)+'/lien-he'; %>" title="Liên hệ" class="<%- (page=='lien-he')? 'd_menu_active': ''; %>"><span>Liên hệ</span></a></li>
                        <li>
                            <a href="#" title="Hướng dẫn"><span>Hướng dẫn</span></a>
                            <span><i class="fa fa-caret-down"></i></span>
                            <ul>
                                <li class="lOnl">
                                    <p class="p_onl">Lâm - <%- $.config.phone; %></p>
                                    <a href="https://www.facebook.com/wsup3.solution" title="Facebook messenger" target="_blank"><img src="<%- $.config.skin; %>/messenger.png" alt="wsup3"></a>
                                    <a href="https://zalo.me/0586593556" title="Zalo" target="_blank"><img src="<%- $.config.skin; %>/admin/zalo.png" alt="wsup3"></a>
                                    <a title="lam.wsup3.cf@gmail.com" href="mailto:wsup3.cf@gmail.com"><img src="<%- $.config.skin; %>/email.png"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>