<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="xsjct74gq0_4jUDc7RqEKumKwPyj6kKPsUDJUqBTaqI">
    <meta name="msvalidate.01" content="2E4F7F6D5A964A73FB37ACE86AA2327B">
    <title><%- $.title; %></title>
    <link href="<%- $.config.skin; %>/admin/favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="<%- $.config.css; %>/font-awesome.css" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.css; %>/jquery.jscrollpane.css" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.css; %>/jquery.selectBox.css" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.css; %>/frontend/style.css" media="screen" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="<%- $.config.js; %>/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/TimelineMax.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/TweenMax.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.lazyload.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.mousewhell.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.validate.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.selectBox.js"></script>
    <script type="text/javascript" language="javascript">
        var SITENAME = '<%- $.config.sitename; %>';
        var LINK = '<%- $.config.link; %>';
        var BASEURL = '<%- $.baseurls(req); %>';
        var PATH = '<%- path; %>';
        var SKIN = '<%- $.config.skin; %>';
        var IMG = '<%- $.config.img; %>';
        var PAGE = '<%- page; %>';
        var LANG = '<%- (typeof(req.params.lang) == undefined)? 'vi': req.params.lang; %>';
        var UICOLOR = '#3F5D7D';
    </script>
    <script type="text/javascript" <%- ($.config.onsocket)? 'src="/socket.io/socket.io.js"': ''; %>></script>
    <script type="text/javascript" src="<%- $.config.js; %>/libs.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/frontend/script.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="title" content="<%- $.title; %>">
    <meta property="description" content="<%- ($.config.except=='')? '&nbsp;': $.config.except; %>">
    <meta property="keywords" content="<%- $.config.keys; %>">
    <meta property="robots" content="ALL, INDEX, FOLLOW">
    <meta property="geo.region" content="<%- $.config.region; %>">
    <meta property="geo.placename" content="<%- $.config.place; %>">
    <meta property="geo.position" content="<%- $.config.pos; %>">
    <meta property="ICBM" content="<%- $.config.icbm; %>">
    <meta property="og:url" content="<%- path; %>">
    <meta property="og:site_name" content="<%- $.config.sitename; %>">
    <meta property="og:title" content="<%- title; %>">
    <meta property="og:description" content="<%- ($.config.except=='')? '&nbsp;': $.config.except; %>">
    <meta property="og:image" content="<%- $.baseurls(req)+$.config.imgs; %>">
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="<%- $.config.appid; %>">
    <meta property="fb:admins" content="<%- $.config.admins; %>">
    <meta property="twitter:card" content="<%- $.baseurls(req)+$.config.imgs; %>">
    <meta property="twitter:site" content="<%- $.config.sitename; %>">
    <meta property="twitter:title" content="<%- title+' - '+$.config.sitename; %>">
    <meta property="twitter:description" content="<%- ($.config.except=='')? '&nbsp;': $.config.except; %>">
    <meta property="twitter:creator" content="<%- $.config.ttlink; %>">
</head>
<body>
    <%- include('../'+template+'.ejs'); %>
</body>
</html>