<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="xsjct74gq0_4jUDc7RqEKumKwPyj6kKPsUDJUqBTaqI">
    <meta name="msvalidate.01" content="2E4F7F6D5A964A73FB37ACE86AA2327B">
    <title> - WSUP3</title>
    <link href="<%- params.config.skin; %>/favicon.ico" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="<%- params.config.css; %>/jquery-ui.css" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- params.config.css; %>/font-awesome.css" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- params.config.css; %>/frontend/style.css" media="screen" rel="stylesheet" type="text/css">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" src="<%- params.config.js; %>/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<%- params.config.js; %>/speak.js"></script>
    <script type="text/javascript" src="<%- params.config.js; %>/TimelineMax.min.js"></script>
    <script type="text/javascript" src="<%- params.config.js; %>/TweenMax.min.js"></script>
    <script type="text/javascript" src="<%- params.config.js; %>/jquery.lazyload.js"></script>
    <script type="text/javascript" src="<%- params.config.js; %>/jquery.mousewhell.js"></script>
    <script type="text/javascript" src="<%- params.config.js; %>/jquery-validation-1.9.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="<%- params.config.js; %>/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56129929-1', 'auto');
        ga('send', 'pageview');
        var LINK = '<%- $.config.link; %>';
        var BASEURL = '<%- $.baseurls(req); %>';
        var PAGE = '<%- params.page; %>';
        var SLUG = '<%- params.slug; %>';
        var LANG = '<%- params.lang; %>';
    </script>
    <script type="text/javascript" src="<%- params.config.js; %>/libs.js"></script>
    <script type="text/javascript" src="<%- params.config.js; %>/frontend/script.js"></script>
    <script type="text/javascript" <%- (params.config.onsocket)? 'src="/socket.io/socket.io.js"': ''; %>></script>
    <script type="text/javascript" <%- (params.config.onsocket)? 'src="'+params.config.js+'/socket.js"': ''; %>></script>
</head>
<body>
    <h1><%- params.data; %></h1>
</body>
</html>