<div class="dBoardAction dBoardProductChild">
    <div class="dFramePng">
        <div class="dApp dAppAddProduct">
            <a title="<%- $.trans.gettext('Add content'); %>">
                <img src="<%- $.config.skin; %>/admin/work.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Add content'); %>"><%- $.trans.gettext('Add content'); %></a>
        </div>
        <div class="dApp dAppProducts">
            <a title="<%- $.trans.gettext('List content'); %>">
                <img src="<%- $.config.skin; %>/admin/products.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('List content'); %>"><%- $.trans.gettext('List content'); %></a>
        </div>
        <div class="dApp dAppAddCategory">
            <a title="<%- $.trans.gettext('Add category'); %>">
                <img src="<%- $.config.skin; %>/admin/addCategory.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Add category'); %>"><%- $.trans.gettext('Add category'); %></a>
        </div>
        <div class="dApp dAppCategories">
            <a title="<%- $.trans.gettext('List category'); %>">
                <img src="<%- $.config.skin; %>/admin/categories.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('List category'); %>"><%- $.trans.gettext('List category'); %></a>
        </div>
        <div class="dApp dAppAddPage">
            <a title="<%- $.trans.gettext('Add content'); %>">
                <img src="<%- $.config.skin; %>/admin/addPage.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Add content'); %>"><%- $.trans.gettext('Add page'); %></a>
        </div>
        <div class="dApp dAppPages">
            <a title="<%- $.trans.gettext('List content'); %>">
                <img src="<%- $.config.skin; %>/admin/pages.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('List content'); %>"><%- $.trans.gettext('List page'); %></a>
        </div>
    </div>
</div>
<div class="dBoardAction dBoardAddProduct">
    <div class="dFramePng">
        <form method="post" id="fAddProduct">
            <div class="dLanguages">
                <%
                    $.each(flags, function(key, value){
                        %>
                            <a title="<%- value.name; %>"><img src="<%- value.image; %>" alt="Wsup3"/> <span><%- value.name; %></span></a>
                        <%
                    });
                %>
            </div>
            <%
                $.each(flags, function(key, value)
                {
                    %>
                        <div class="dTabsLanguage dTabsLanguage<%- value.id; %>">
                            <div class="dLine">
                                <label for="iProTitle<%- value.id; %>"><%- $.trans.gettext('Content name'); %>:</label>
                                <input type="text" name="title<%- value.id; %>" id="iProTitle<%- value.id; %>"/>
                            </div>
                            <div class="dLine">
                                <label for="iProExcept<%- value.id; %>"><%- $.trans.gettext('Except'); %>:</label>
                                <textarea name="except<%- value.id; %>" class="iProExcept" id="iProExcept<%- value.id; %>"></textarea>
                            </div>
                            <div class="dPhoto"></div>
                            <a class="aPhoto" board="dBoardAddProduct"><img alt="wsup3" src="<%- $.config.skin; %>/admin/photo.png"/> <%- $.trans.gettext('Add photos'); %></a>
                            <textarea name="ProDetail<%- value.id; %>" placeholder="<%- $.trans.gettext('detail'); %>"></textarea>
                            <a class="aFeature" type="post" num="0" board="dBoardAddProduct"><%- $.trans.gettext('Add feature'); %></a>
                            <div class="dFeatures"></div>
                        </div>
                    <%
                });
            %>
            <fieldset class="fCats">
                <legend><%- $.trans.gettext('Categories'); %></legend>
            </fieldset>
            <div class="dAdvance">
                <div>
                    <div class="dLine">
                        <label for="iPosition"><%- $.trans.gettext('Position'); %>: </label>
                        <input type="text" name="position" id="iPosition"/>
                    </div>
                    <div class="dLine">
                        <label for="iProPath"><%- $.trans.gettext('Path'); %>:</label>
                        <input type="text" name="path" id="iProPath"/>
                    </div>
                    <div class="dLine">
                        <label for="iProKeyword"><%- $.trans.gettext('SEO keywords'); %>:</label>
                        <input type="text" name="keyword" id="iProKeyword"/>
                    </div>
                    <select class="iLive">
                        <option value="true"><%- $.trans.gettext('Public'); %></option>
                        <option value="false"><%- $.trans.gettext('Private'); %></option>
                    </select>
                </div>
            </div>
            <a class="aAdvance" title="<%- $.trans.gettext('Advance'); %>"><%- $.trans.gettext('Advance'); %></a>
        </form>
    </div>
</div>
<div class="dBoardAction dBoardProducts">
    <div class="dFramePng">
        <center><select class="sCats"></select></center>
        <form method="post" id="fProducts"></form>
        <center><span class="sBtnMore" type="post"><input type="button" title="<%= $.trans.gettext('More contents'); %>" value="<%= $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dBoardAction dBoardAddCategory">
    <div class="dFramePng">
        <form method="post" id="fAddCategory">
            <div class="dLanguages">
                <%
                    $.each(flags, function(key, value){
                        %>
                            <a title="<%- value.name; %>"><img src="<%- value.image; %>" alt="Wsup3"/> <span><%- value.name; %></span></a>
                        <%
                    });
                %>
            </div>
            <%
                $.each(flags, function(key, value)
                {
                    %>
                        <div class="dTabsLanguage dTabsLanguage<%- value.id; %>">
                            <div class="dLine">
                                <label for="iCatTitle<%- value.id; %>"><%- $.trans.gettext('Title'); %>:</label>
                                <input type="text" name="title<%- value.id; %>" id="iCatTitle<%- value.id; %>"/>
                            </div>
                            <div class="dLine">
                                <label for="iCatExcept<%- value.id; %>"><%- $.trans.gettext('Except'); %>:</label>
                                <textarea name="except<%- value.id; %>" class="iCatExcept" id="iCatExcept<%- value.id; %>"></textarea>
                            </div>
                            <div class="dPhoto"></div>
                            <a class="aPhoto" board="dBoardAddCategory"><img alt="wsup3" src="<%- $.config.skin; %>/admin/photo.png"/> <%- $.trans.gettext('Add photos'); %></a>
                            <a class="aFeature" type="term" num="0" board="dBoardAddCategory"><%- $.trans.gettext('Add feature'); %></a>
                            <div class="dFeatures"></div>
                        </div>
                    <%
                });
            %>
            <fieldset class="fCats">
                <legend><%- $.trans.gettext('Category parent'); %></legend>
            </fieldset>
            <div class="dAdvance">
                <div>
                    <div class="dLine">
                        <label for="iPosition"><%- $.trans.gettext('Position'); %>: </label>
                        <input type="text" name="position" id="iPosition"/>
                    </div>
                    <div class="dLine">
                        <label for="iCatPath"><%- $.trans.gettext('Path'); %>:</label>
                        <input type="text" name="path" id="iCatPath"/>
                    </div>
                    <div class="dLine">
                        <label for="iCatKeyword"><%- $.trans.gettext('SEO keywords'); %>:</label>
                        <input type="text" name="keyword" id="iCatKeyword"/>
                    </div>
                    <select class="iLive">
                        <option value="true"><%- $.trans.gettext('Public'); %></option>
                        <option value="false"><%- $.trans.gettext('Private'); %></option>
                    </select>
                </div>
            </div>
            <a class="aAdvance" title="<%- $.trans.gettext('Advance'); %>"><%- $.trans.gettext('Advance'); %></a>
        </form>
    </div>
</div>
<div class="dBoardAction dBoardCategories">
    <div class="dFramePng">
        <form method="post" id="fCategories"></form>
        <center><span class="sBtnMore" type="term"><input type="button" title="<%- $.trans.gettext('More contents'); %>" value="<%- $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dBoardAction dBoardAddPage">
    <div class="dFramePng">
        <form method="post" id="fAddPage">
            <div class="dLanguages">
                <%
                    $.each(flags, function(key, value)
                    {
                        %>
                            <a title="<%- value.name; %>"><img src="<%- value.image; %>" alt="Wsup3"/> <span><%- value.name; %></span></a>
                        <%
                    });
                %>
            </div>
            <%
                $.each(flags, function(key, value)
                {
                    %>
                        <div class="dTabsLanguage dTabsLanguage<%- value.id; %>">
                            <div class="dLine">
                                <label for="iPgTitle<%- value.id; %>"><%- $.trans.gettext('Title'); %>:</label>
                                <input type="text" name="title<%- value.id; %>" id="iPgTitle<%- value.id; %>"/>
                            </div>
                            <div class="dLine">
                                <label for="iPgExcept<%- value.id; %>"><%- $.trans.gettext('Except'); %>:</label>
                                <textarea name="except<%- value.id; %>" class="iPgExcept" id="iPgExcept<%- value.id; %>"></textarea>
                            </div>
                            <div class="dPhoto"></div>
                            <a class="aPhoto" board="dBoardAddPage"><img alt="wsup3" src="<%- $.config.skin; %>/admin/photo.png"/> <%- $.trans.gettext('Add photos'); %></a>
                            <textarea name="PgDetail<%- value.id; %>" placeholder="<%- $.trans.gettext('detail'); %>"></textarea>
                            <a class="aFeature" type="page" num="0" board="dBoardAddPage"><%- $.trans.gettext('Add feature'); %></a>
                            <div class="dFeatures"></div>
                        </div>
                    <%
                });
            %>
            <div class="dAdvance">
                <div>
                    <div class="dLine">
                        <label for="iPosition"><%- $.trans.gettext('Position'); %>: </label>
                        <input type="text" name="position" id="iPosition"/>
                    </div>
                    <div class="dLine">
                        <label for="iPgPath"><%- $.trans.gettext('Path'); %>:</label>
                        <input type="text" name="path" id="iPgPath"/>
                    </div>
                    <div class="dLine">
                        <label for="iPgKeyword"><%- $.trans.gettext('SEO keywords'); %>:</label>
                        <input type="text" name="keyword" id="iPgKeyword"/>
                    </div>
                    <select class="iLive">
                        <option value="true"><%- $.trans.gettext('Public'); %></option>
                        <option value="false"><%- $.trans.gettext('Private'); %></option>
                    </select>
                </div>
            </div>
            <a class="aAdvance" title="<%- $.trans.gettext('Advance'); %>"><%- $.trans.gettext('Advance'); %></a>
        </form>
    </div>
</div>
<div class="dBoardAction dBoardPages">
    <div class="dFramePng">
        <form method="post" id="fPages"></form>
        <center><span class="sBtnMore" type="page"><input type="button" title="<%= $.trans.gettext('More contents'); %>" value="<%= $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>