<div class="dFooter">
    <div class="dProcess"><span>100%</span></div>
    <div class="dSides">
        <label for="iMedia" type="image" class="lUpload"><img src="<%- $.config.skin; %>/admin/upload.png" alt="wsup3" title="<%- $.trans.gettext('Upload'); %>"/></label>
        <a class="aTabs"><img src="<%- $.config.skin; %>/admin/tabs.png" alt="wsup3"/></a>
        <a class="aProducts"><img src="<%- $.config.skin; %>/admin/list-product.png" alt="wsup3"/><img src="<%- $.config.skin; %>/admin/list-product-act.png" alt="wsup3"/></a>
        <input id="iMedia" name="media" multiple="multiple" type="file" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG,.gif,.GIF"/>
        <a class="aCustomBtn"><img src="<%- $.config.skin; %>/admin/upload.png" alt="wsup3"/></a>
        <a class="aCamera"><img src="<%- $.config.skin; %>/admin/takePic.png" alt="wsup3" title="<%- $.trans.gettext('Camera'); %>"/></a>
        <a class="aRecordingVideo"><img src="<%- $.config.skin; %>/admin/recording-video.png" alt="wsup3" title="<%- $.trans.gettext('Recording video'); %>"/></a>
        <a class="aPauseRecordingVideo"><img src="<%- $.config.skin; %>/admin/pause-recording-video.png" alt="wsup3"/></a>
        <a class="aDelete"><img class="iDel" src="<%- $.config.skin; %>/admin/trashMenu.png" alt="wsup3" title="<%- $.trans.gettext('Delete'); %>"/><img class="iDelY" src="<%- $.config.skin; %>/admin/trashY.png" alt="wsup3" title="<%- $.trans.gettext('Delete'); %>"/></a>
        <a class="aAccepts"><img src="<%- $.config.skin; %>/admin/multiChecks.png" alt="wsup3" title="<%- $.trans.gettext('Choose'); %>"/></a>
        <a class="aAccept"><img class="iCheck" src="<%- $.config.skin; %>/admin/check.png" alt="wsup3" title="<%- $.trans.gettext('Choose'); %>"/><img class="iReady" title="<%- $.trans.gettext('Add Content'); %>" src="<%- $.config.skin; %>/admin/warning.png" alt="wsup3" title="<%- $.trans.gettext('Choose'); %>"/></a>
        <a class="aExcel"><img src="<%- $.config.skin; %>/admin/excel.png" alt="wsup3" title="<%- $.trans.gettext('Excel'); %>"/></a>
        <a class="aImages"><img src="<%- $.config.skin; %>/admin/image-gallery.png" alt="wsup3" title="<%- $.trans.gettext('Image gallery'); %>"/></a>
        <a class="aVideoGallery"><img src="<%- $.config.skin; %>/admin/video-gallery.png" alt="wsup3" title="<%- $.trans.gettext('Video gallery'); %>"/></a>
        <a class="aSendMess" title="<%- $.trans.gettext('Message'); %>"><img src="<%- $.config.skin; %>/admin/send.png" alt="wsup3" title="<%- $.trans.gettext('Message'); %>"/></a>
        <a class="aSave"><img src="<%- $.config.skin; %>/admin/save.png" alt="wsup3" title="<%- $.trans.gettext('Save'); %>"/></a>
    </div>
</div>