<div class="dHeader">
    <div class="dSearch">
        <input class="iSearch" time="1" type="text" autocomplete="yes" placeholder="<%- $.trans.gettext('Address or search'); %>" or="<%- $.trans.gettext('Address or search'); %>"/>
        <a class="aHome"><img src="<%- $.config.skin; %>/admin/favicon.ico" or="<%- $.config.skin; %>/admin/favicon.ico" alt="wsup3" title="<%- $.trans.gettext('Reload'); %>"/></a>
        <a class="aBack" time="1" ready="1"><i class="fa fa-caret-left"></i></a>
    </div>
    <div class='dControls'>
        <a title="<%- $.trans.gettext('Exit'); %>" class="aClose"><i class="fas fa-times"></i></a>
        <a title="<%- $.trans.gettext('Smalls'); %>" class="aMaximizes"><i class="fas fa-window-maximize"></i></a>
        <a title="<%- $.trans.gettext('Minimizes'); %>" class="aMinimizes"><i class="fas fa-window-minimize"></i></a>
    </div>
</div>