<div class="dBoardAction dBoardImages">
    <div class="dFramePng">
        <form method="post" id="fImages" class="fImages"></form>
        <center><span class="sBtnMore" type="image"><input type="button" title="<%- $.trans.gettext('More contents'); %>" value="<%- $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dBgImg"></div>
<div class="dViewImg" time="1">
    <a class="aCloseView fa fa-times" title="<%- $.trans.gettext('Hide'); %>"></a>
    <i class="iPrev fa fa-chevron-circle-left" title="<%- $.trans.gettext('Prev'); %>"></i>
    <img class="iViewImg" src="" alt="wsup3" title=""/>
    <i class="iNext fa fa-chevron-circle-right" title="<%- $.trans.gettext('Next'); %>"></i>
</div>