<div class="dBoardAction dMainBoard dShow">
    <div class="dFramePng">
        <div class="dAppPage">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardSetting">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Setting'); %>">
                <img src="<%- $.config.skin; %>/admin/setting.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Setting'); %>"><%- $.trans.gettext('Setting'); %></a>
        </div>
        <div class="dAppPage dAppAccount">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardAccount">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Account'); %>">
                <img src="<%- $.config.skin; %>/admin/groups.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Account'); %>"><%- $.trans.gettext('Account'); %></a>
        </div>
        <div class="dApp dAppFriends">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">1</span>
            </div>
            <div class="dClose" board="dBoardVideos">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Message'); %>">
                <img src="<%- $.config.skin; %>/admin/friends.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Message'); %>"><%- $.trans.gettext('Message'); %></a>
        </div>
        <div class="dApp dAppVideos">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardVideos">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Videos'); %>">
                <img src="<%- $.config.skin; %>/admin/video.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Videos'); %>"><%- $.trans.gettext('Videos'); %></a>
        </div>
        <div class="dApp dAppAudios">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardAudios">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Audios'); %>">
                <img src="<%- $.config.skin; %>/admin/music.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Audios'); %>"><%- $.trans.gettext('Audios'); %></a>
        </div>
        <div class="dApp dAppPhotos">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardPhotos">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Photos'); %>">
                <img src="<%- $.config.skin; %>/admin/images.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Photos'); %>"><%- $.trans.gettext('Photos'); %></a>
        </div>
        <div class="dApp dAppStore">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardStore">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Store'); %>">
                <img src="/public/media/images/skin/admin/store.png" alt="wsup3">
            </a>
            <a title="<%- $.trans.gettext('Store'); %>"><%- $.trans.gettext('Store'); %></a>
        </div>
        <div class="dAppPage dAppCustomer">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardCustomer">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Customer'); %>">
                <img src="<%- $.config.skin; %>/admin/customer.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Customer'); %>"><%- $.trans.gettext('Customer'); %></a>
        </div>
        <div class="dAppPage dAppContent">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardProductChild">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Online content'); %>">
                <img src="<%- $.config.skin; %>/admin/work.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Online content'); %>"><%- $.trans.gettext('Content'); %></a>
        </div>
    </div>
</div>