<div class="dBoardAction dBoardReport">
    <div class="dFramePng">
        <div class="dApp dAppDateReport">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/date-report.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardDateReport">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/date-report.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Profit report'); %>">
                <img src="<%- $.config.skin; %>/admin/date-report.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Profit report'); %>"><%- $.trans.gettext('Profit report'); %></a>
        </div>
        <div class="dApp dAppReportStaff">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/profit-staff.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardReportStaff">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/profit-staff.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Profit staff'); %>">
                <img src="<%- $.config.skin; %>/admin/profit-staff.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Profit staff'); %>"><%- $.trans.gettext('Profit staff'); %></a>
        </div>
        <div class="dApp dAppPayHistory">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/pay-history.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardPayHistory">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/pay-history.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%= $.trans.gettext('Profit customer'); %>">
                <img src="<%= $.config.skin; %>/admin/pay-history.png" alt="wsup3"/>
            </a>
            <a title="<%= $.trans.gettext('Profit customer'); %>"><%= $.trans.gettext('Profit customer'); %></a>
        </div>
        <div class="dApp dAppReportImport">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/import-report.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardReportImport">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/import-report.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Import report'); %>">
                <img src="<%- $.config.skin; %>/admin/import-report.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Import report'); %>"><%- $.trans.gettext('Import report'); %></a>
        </div>
        <div class="dApp dAppImportBill">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/report.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardImportBill">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/report.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%= $.trans.gettext('Search import bill'); %>">
                <img src="<%= $.config.skin; %>/admin/report.png" alt="wsup3"/>
            </a>
            <a title="<%= $.trans.gettext('Search import bill'); %>"><%= $.trans.gettext('Search import bill'); %></a>
        </div>
        <div class="dApp dAppReportStore">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/browse-store.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardReportStore">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/browse-store.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Browse store'); %>">
                <img src="<%- $.config.skin; %>/admin/browse-store.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Browse store'); %>"><%- $.trans.gettext('Browse store'); %></a>
        </div>
        <div class="dApp dAppReportAvailable">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/available.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardReportStore">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/available.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Available report'); %>">
                <img src="<%- $.config.skin; %>/admin/available.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Available report'); %>"><%- $.trans.gettext('Available report'); %></a>
        </div>
        <div class="dApp dAppReportExpirate">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/expirate.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardReportExpirate">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/expirate.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Expirate report'); %>">
                <img src="<%- $.config.skin; %>/admin/expirate.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Available report'); %>"><%- $.trans.gettext('Expirate report'); %></a>
        </div>
    </div>
</div>
<div class="dBoardAction dBoardDateReport">
    <div class="dFramePng">
        <div class="dDate">
            <label><%- $.trans.gettext('From date'); %>: <input type="date" class="iFromDate"/></label>
            <label><%- $.trans.gettext('To date'); %>: <input type="date" class="iToDate"/></label>
            <a>Báo cáo</a>
        </div>
        <form method="post" id="fDateReport">
            <table cellpadding="0" cellspacing="0">
                <tr class="tHead">
                    <th>Mã hóa đơn</th>
                    <th>Nhân viên</th>
                    <th>Khách hàng</th>
                    <th>Thời gian</th>
                    <th>Doanh thu</th>
                </tr>
            </table>
        </form>
        <p class="pTotal">Tổng cộng: <span></span></p><br/><br/><br/>
        <p style="display: none" class="pTotal">Tổng lợi nhuận: <span></span></p>
    </div>
</div>
<div class="dBoardAction dBoardBillDetail">
    <div class="dFramePng">
        <div class="dContentSell">
            <div class="dCategory">
                <div class="dProductSell">
                    <p class="pFinal"><label class="lSellCode">Mã hóa đơn: <span></span></label><span></span></p>
                </div>
            </div>
            <form method="post" id="fBillDetail"></form><br/>
            <div class="dCategory">
                <p class="pTotal  pFinal">Tổng giá: <span>0</span>Đ</p>
            </div>
            <div class="dCategory">
                <p class="pFinal"><label>Giảm giá: <span class="sPromotionVal"></span></label><span class="sPromotion"></span></p>
            </div>
            <div class="dCategory">
                <p class="pTotal pFinal">Tổng cộng: <span>0</span>Đ</p>
            </div><br/>
        </div>
    </div>
</div>
<div class="dBoardAction dBoardReportImport">
    <div class="dFramePng">
        <div class="dDate">
            <label><%- $.trans.gettext('From date'); %>: <input type="date" class="iFromDate"/></label>
            <label><%- $.trans.gettext('To date'); %>: <input type="date" class="iToDate"/></label>
            <a>Báo cáo</a>
        </div>
        <form method="post" id="fImportReport">
            <table cellpadding="0" cellspacing="0">
                <tr class="tHead">
                    <th>Mã hóa đơn</th>
                    <th>Nhân viên</th>
                    <th>Nhà cung cấp</th>
                    <th>Thời gian</th>
                    <th>Tổng chi</th>
                </tr>
            </table>
        </form>
        <p class="pTotal">Tổng cộng: <span></span></p>
    </div>
</div>
<div class="dBoardAction dBoardBillImport">
    <div class="dFramePng">
        <div class="dContentSell">
            <div class="dCategory">
                <div class="dProductSell">
                    <p class="pFinal"><label class="lSellCode">Mã hóa đơn: <span></span></label><span></span></p>
                </div>
            </div>
            <form method="post" id="fBillImport"></form><br/>
            <div class="dCategory">
                <p class="pTotal  pFinal">Tổng giá: <span>0</span>Đ</p>
            </div>
            <div class="dCategory">
                <p class="pFinal"><label>Giảm giá: <span class="sPromotionVal"></span></label><span class="sPromotion"></span></p>
            </div>
            <div class="dCategory">
                <p class="pTotal pFinal">Tổng cộng: <span>0</span>Đ</p>
            </div><br/>
        </div>
    </div>
</div>
<div class="dBoardAction dBoardImportBill">
    <div class="dFramePng">
        <div class="dContentSell">
            <div class="dCategory">
                <div class="dProductSell">
                    <p class="pFinal"><label class="lSellCode">Mã hóa đơn: <input class="iOpts" type="text" value=""/><a>Tìm kiếm</a></label><span></span></p>
                </div>
            </div>
            <form method="post" id="fImportBill"></form><br/>
            <div class="dCategory">
                <p class="pTotal  pFinal">Tổng giá: <span>0</span>Đ</p>
            </div>
            <div class="dCategory">
                <p class="pFinal"><label>Giảm giá: <span class="sPromotionVal"></span></label><span class="sPromotion"></span></p>
            </div>
            <div class="dCategory">
                <p class="pTotal pFinal">Tổng cộng: <span>0</span>Đ</p>
            </div><br/>
        </div>
    </div>
</div>
<div class="dBoardAction dBoardReportStore">
    <div class="dFramePng">
        <div class="dContentSell"><br/>
            <div class="dCategory">
                <p class="pTotal  pFinal">Tổng số lượng: <span>0</span></p>
            </div>
            <div class="dCategory">
                <p class="pTotal  pFinal">Tổng vốn: <span>0</span> Đ</p>
            </div>
            <div class="dCategory">
                <p class="pTotal  pFinal">Tổng giá trị: <span>0</span> Đ</p>
            </div>
            <div class="dCategory">
                <p class="pTotal  pFinal">Tổng lợi nhuận: <span>0</span> Đ</p>
            </div><br/>
            <form method="post" id="fBillStore"></form>
        </div>
    </div>
</div>
<div class="dBoardAction dBoardReportStaff">
    <div class="dFramePng">
        <div class="dDate">
            <label><%- $.trans.gettext('Staff'); %>: <select class="sStaff"></select></label>
            <label><%- $.trans.gettext('From date'); %>: <input type="date" class="iFromDate"/></label>
            <label><%- $.trans.gettext('To date'); %>: <input type="date" class="iToDate"/></label>
            <a>Báo cáo</a>
        </div>
        <form method="post" id="fReportStaff">
            <table cellpadding="0" cellspacing="0">
                <tr class="tHead">
                    <th>Mã hóa đơn</th>
                    <th>Nhân viên</th>
                    <th>Khách hàng</th>
                    <th>Thời gian</th>
                    <th>Doanh thu</th>
                </tr>
            </table>
        </form>
        <p class="pTotal">Tổng cộng: <span></span></p><br/><br/><br/>
        <p style="display: none" class="pTotal">Tổng lợi nhuận: <span></span></p>
    </div>
</div>
<div class="dBoardAction dBoardPayHistory">
    <div class="dFramePng">
        <div class="dDate">
            <label><%- $.trans.gettext('Customer'); %>: <select class="sCustomerPay"></select></label>
            <label><%- $.trans.gettext('From date'); %>: <input type="date" class="iFromDate"/></label>
            <label><%- $.trans.gettext('To date'); %>: <input type="date" class="iToDate"/></label>
            <a>Báo cáo</a>
        </div>
        <form method="post" id="fPayHistory">
            <table cellpadding="0" cellspacing="0">
                <tr class="tHead">
                    <th>Mã hóa đơn</th>
                    <th>Nhân viên</th>
                    <th>Khách hàng</th>
                    <th>Thời gian</th>
                    <th>Doanh thu</th>
                </tr>
            </table>
        </form>
        <p class="pTotal">Tổng cộng: <span></span></p><br/><br/><br/>
        <p style="display: none" class="pTotal">Tổng lợi nhuận: <span></span></p>
    </div>
</div>
<div class="dBoardAction dBoardReportAvailable">
    <div class="dFramePng">
        <div class="dContentSell">
            <h2>Hàng sắp hết</h2>
            <form method="post" id="fReportAvailable"></form>
        </div>
    </div>
</div>
<div class="dBoardAction dBoardReportExpirate">
    <div class="dFramePng">
        <div class="dContentSell">
            <h2>Hàng đến hạn dùng</h2>
            <form method="post" id="fReportExpirate"></form>
        </div>
    </div>
</div>