<div class="dBoardAction dBoardSetting">
    <div class="dFramePng">
        <div class="dApp dAppMenus">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/menuicon.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardMenus">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/menuicon.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Menu'); %>">
                <img src="<%- $.config.skin; %>/admin/menuicon.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Menu'); %>"><%- $.trans.gettext('Menu'); %></a>
        </div>
        <div class="dApp dAppFeatures">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/customer.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardFeatures">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/feature.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Feature'); %>">
                <img src="<%- $.config.skin; %>/admin/feature.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Feature'); %>"><%- $.trans.gettext('Feature'); %></a>
        </div>
        <div class="dApp dAppLanguages">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/customer.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardLanguages">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/language.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Language'); %>">
                <img src="<%- $.config.skin; %>/admin/language.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Language'); %>"><%- $.trans.gettext('Language'); %></a>
        </div>
        <div class="dAppAddMenu"></div>
        <div class="dAppAddFeature"></div>
        <div class="dAppAddLanguage"></div>
    </div>
</div>
<div class="dBoardAction dBoardLanguages">
    <div class="dFramePng">
        <form method="post" id="fLanguages"></form>
        <center><span class="sBtnMore" type="language"><input type="button" title="<%- $.trans.gettext('More contents'); %>" value="<%- $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dBoardAction dBoardFeatures">
    <div class="dFramePng">
        <form method="post" id="fFeatures"></form>
        <center><span class="sBtnMore" type="feature"><input type="button" title="<%- $.trans.gettext('More contents'); %>" value="<%- $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dBoardAction dBoardMenus">
    <div class="dFramePng">
        <form method="post" id="fMenus"></form>
        <center><span class="sBtnMore" type="menu"><input type="button" title="<%- $.trans.gettext('More contents'); %>" value="<%- $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dBoardAction dBoardAddLanguage">
    <div class="dFramePng">
        <form method="post" id="fAddLanguage">
            <div class="dLine">
                <label for="iNamevi"><%- $.trans.gettext('Ngôn ngữ'); %> <img alt="wsup3" src="<%- $.config.img; %>/post/vietnam.png"/> :</label>
                <input type="text" name="namevi" id="iNamevi"/>
            </div>
            <div class="dLine">
                <label for="iNameen"><img alt="wsup3" src="<%- $.config.img; %>/post/english.png"/> :</label>
                <input type="text" name="nameen" id="iNameen"/>
            </div>
            <div class="dLine">
                <label for="iNameru"><img alt="wsup3" src="<%- $.config.img; %>/post/rusia.png"/> :</label>
                <input type="text" name="nameru" id="iNameru"/>
            </div>
            <div class="dLine">
                <label for="iNamech"><img alt="wsup3" src="<%- $.config.img; %>/post/china.png"/> :</label>
                <input type="text" name="namech" id="iNamech"/>
            </div>
            <div class="dLine">
                <label for="iNameja"><img alt="wsup3" src="<%- $.config.img; %>/post/japan.png"/> :</label>
                <input type="text" name="nameja" id="iNameja"/>
            </div>
            <div class="dLine">
                <label for="iId"><%- $.trans.gettext('Laguage id'); %>: </label>
                <input type="text" name="id" id="iId"/>
            </div>
            <div class="dPhoto"></div>
            <a class="a1Photo" board="dBoardAddLanguage"><img alt="wsup3" src="<%- $.config.skin; %>/admin/photo.png"/> <%- $.trans.gettext('Add photos'); %></a>
            <a class="aFeature" type="language" num="0" board="dBoardAddLanguage"><%- $.trans.gettext('Add feature'); %></a>
            <div class="dFeatures"></div>
            <div class="dAdvance">
                <div>
                    <div class="dLine">
                        <label for="iPosition"><%- $.trans.gettext('Position'); %>: </label>
                        <input type="text" name="position" id="iPosition"/>
                    </div>
                    <select class="iLive">
                        <option value="true"><%- $.trans.gettext('Public'); %></option>
                        <option value="false"><%- $.trans.gettext('Private'); %></option>
                    </select><br/>
                </div>
            </div>
            <a class="aAdvance" title="<%- $.trans.gettext('Advance'); %>"><%- $.trans.gettext('Advance'); %></a>
        </form>
    </div>
</div>
<div class="dBoardAction dBoardAddFeature">
    <div class="dFramePng">
        <form method="post" id="fAddFeature">
            <div class="dLanguages">
                <%
                    $.each(flags, function(key, value)
                    {
                        %>
                            <a title="<%- value.name; %>"><img src="<%- value.image; %>" alt="Wsup3"/> <span><%- value.name; %></span></a>
                        <%
                    });
                %>
            </div>
            <%
            $.each(flags, function(key, value)
            {
                %>
                    <div class="dTabsLanguage dTabsLanguage<%- value.id; %>">
                        <div class="dLine">
                            <label for="iFeaName<%- value.id; %>"><%- $.trans.gettext('Feature name'); %>:</label>
                            <input type="text" name="title<%- value.id; %>" id="iFeaName<%- value.id; %>"/>
                        </div>
                        <div class="dLine">
                            <label for="iFeaExcept<%- value.id; %>"><%- $.trans.gettext('Description'); %>:</label>
                            <textarea name="except<%- value.id; %>" id="iFeaExcept<%- value.id; %>"></textarea>
                        </div>
                        <textarea name="FeaDetail<%- value.id; %>" placeholder="<%- $.trans.gettext('detail'); %>"></textarea>
                        <div class="dPhoto"></div>
                        <a class="a1Photo" board="dBoardAddFeature"><img alt="wsup3" src="<%- $.config.skin; %>/admin/photo.png"/> <%- $.trans.gettext('Add photos'); %></a>
                        <a class="aFeature" type="feature" num="0" board="dBoardAddFeature"><%- $.trans.gettext('Add feature'); %></a>
                        <div class="dFeatures"></div>
                    </div>
                <%
            });
            %>
            <div class="dAdvance">
                <div>
                    <div class="dLine">
                        <label for="iFeaPos"><%- $.trans.gettext('Position'); %>: </label>
                        <input type="text" name="position" id="iFeaPos"/>
                    </div>
                    <div class="dLine">
                        <label for="iFeaKey"><%- $.trans.gettext('Key'); %>:</label>
                        <input type="text" name="path" id="iFeaKey"/>
                    </div>
                    <select class="iLive">
                        <option value="true"><%- $.trans.gettext('Public'); %></option>
                        <option value="false"><%- $.trans.gettext('Private'); %></option>
                    </select>
                </div>
            </div>
            <a class="aAdvance" title="<%- $.trans.gettext('Advance'); %>"><%- $.trans.gettext('Advance'); %></a>
        </form>
    </div>
</div>
<div class="dBoardAction dBoardAddMenu">
    <div class="dFramePng">
        <form method="post" id="fAddMenu">
            <div class="dLanguages">
                <%
                $.each(flags, function(key, value)
                {
                %>
                <a title="<%- value.name; %>"><img src="<%- value.image; %>" alt="Wsup3"/> <span><%- value.name; %></span></a>
                <%
                });
                %>
            </div>
            <%
            $.each(flags, function(key, value)
            {
            %>
            <div class="dTabsLanguage dTabsLanguage<%- value.id; %>">
                <div class="dLine">
                    <label for="iMnuName<%- value.id; %>"><%- $.trans.gettext('Menu name'); %>:</label>
                    <input type="text" name="title<%- value.id; %>" id="iMnuName<%- value.id; %>"/>
                </div>
                <div class="dLine">
                    <label for="iMnuExcept<%- value.id; %>"><%- $.trans.gettext('Description'); %>:</label>
                    <textarea name="except<%- value.id; %>" id="iMnuExcept<%- value.id; %>"></textarea>
                </div>
                <textarea name="MnuDetail<%- value.id; %>" placeholder="<%- $.trans.gettext('detail'); %>"></textarea>
                <div class="dPhoto"></div>
                <a class="a1Photo" board="dBoardAddMenu"><img alt="wsup3" src="<%- $.config.skin; %>/admin/photo.png"/> <%- $.trans.gettext('Add photos'); %></a>
                <a class="aFeature" type="feature" num="0" board="dBoardAddLanguage"><%- $.trans.gettext('Add feature'); %></a>
                <div class="dFeatures"></div>
            </div>
            <%
            });
            %>
            <div class="dAdvance">
                <div>
                    <div class="dLine">
                        <label for="iMnuPos"><%- $.trans.gettext('Position'); %>: </label>
                        <input type="text" name="position" id="iMnuPos"/>
                    </div>
                    <div class="dLine">
                        <label for="iMnuKey"><%- $.trans.gettext('Key'); %>:</label>
                        <input type="text" name="path" id="iMnuKey"/>
                    </div>
                    <select class="iLive">
                        <option value="true"><%- $.trans.gettext('Public'); %></option>
                        <option value="false"><%- $.trans.gettext('Private'); %></option>
                    </select>
                </div>
            </div>
            <a class="aAdvance" title="<%- $.trans.gettext('Advance'); %>"><%- $.trans.gettext('Advance'); %></a>
        </form>
    </div>
</div>