<div class="dBoardAction dBoardStore">
    <div class="dFramePng">
        <div class="dStoreLine dGeneralApps">
            <a _id=""><%- $.trans.gettext('Popular applications'); %> <span><%- $.trans.gettext('More'); %></span></a>
            <div>
                <div class="dApp dWebApp">
                    <div class="dNotify">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/itg.png')"></span>
                        <span class="sScreen"></span>
                        <span class="sNumber">6</span>
                    </div>
                    <div class="dClose" weburl="https://www.instagram.com/" mobileurl="https://www.instagram.com/">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/itg.png')"></span>
                        <span class="sScreen"></span>
                        <span class="fa fa-times"></span>
                    </div>
                    <a title="Instagram">
                        <img src="<%- $.config.skin; %>/admin/itg.png" alt="wsup3"/>
                    </a>
                    <a title="Instagram">Instagram</a>
                    <span class="sBtn" type="post" style="display: inline-block;"><input title="<%- $.trans.gettext('Check in'); %>" value="<%- $.trans.gettext('Check in'); %>" type="button"></span>
                </div>
                <div class="dApp dWebApp">
                    <div class="dNotify">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/bm.png')"></span>
                        <span class="sScreen"></span>
                        <span class="sNumber">6</span>
                    </div>
                    <div class="dClose" weburl="https://baomoi.com/" mobileurl="https://m.baomoi.com/">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/bm.png')"></span>
                        <span class="sScreen"></span>
                        <span class="fa fa-times"></span>
                    </div>
                    <a title="Báo mới">
                        <img src="<%- $.config.skin; %>/admin/bm.png" alt="wsup3"/>
                    </a>
                    <a title="Báo mới">Báo mới</a>
                    <span class="sBtn" type="post" style="display: inline-block;"><input title="<%- $.trans.gettext('Check in'); %>" value="<%- $.trans.gettext('Check in'); %>" type="button"></span>
                </div>
                <div class="dApp dWebApp">
                    <div class="dNotify">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/zm.png')"></span>
                        <span class="sScreen"></span>
                        <span class="sNumber">6</span>
                    </div>
                    <div class="dClose" weburl="https://zingmp3.vn/" mobileurl="https://zingmp3.vn/">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/zm.png')"></span>
                        <span class="sScreen"></span>
                        <span class="fa fa-times"></span>
                    </div>
                    <a title="Zing mp3">
                        <img src="<%- $.config.skin; %>/admin/zm.png" alt="wsup3"/>
                    </a>
                    <a title="Zing mp3">Zing mp3</a>
                    <span class="sBtn" type="post" style="display: inline-block;"><input title="<%- $.trans.gettext('Check in'); %>" value="<%- $.trans.gettext('Check in'); %>" type="button"></span>
                </div>
                <div class="dApp dWebApp">
                    <div class="dNotify">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/ntc.png')"></span>
                        <span class="sScreen"></span>
                        <span class="sNumber">6</span>
                    </div>
                    <div class="dClose" weburl="https://nhatrangclub.vn/" mobileurl="https://nhatrangclub.vn/" type="c">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/ntc.png')"></span>
                        <span class="sScreen"></span>
                        <span class="fa fa-times"></span>
                    </div>
                    <a title="Nha Trang Club">
                        <img src="<%- $.config.skin; %>/admin/ntc.png" alt="wsup3"/>
                    </a>
                    <a title="Nha Trang Club">Nha Trang Club</a>
                    <span class="sBtn" type="post" style="display: inline-block;"><input title="<%- $.trans.gettext('Check in'); %>" value="<%- $.trans.gettext('Check in'); %>" type="button"></span>
                </div>
                <div class="dApp dWebApp">
                    <div class="dNotify">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/gk.png')"></span>
                        <span class="sScreen"></span>
                        <span class="sNumber">6</span>
                    </div>
                    <div class="dClose" weburl="http://genk.vn/" mobileurl="http://genk.vn/">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/gk.png')"></span>
                        <span class="sScreen"></span>
                        <span class="fa fa-times"></span>
                    </div>
                    <a title="Genk">
                        <img src="<%- $.config.skin; %>/admin/gk.png" alt="wsup3"/>
                    </a>
                    <a title="Genk">Genk</a>
                    <span class="sBtn" type="post" style="display: inline-block;"><input title="<%- $.trans.gettext('Check in'); %>" value="<%- $.trans.gettext('Check in'); %>" type="button"></span>
                </div>
                <div class="dApp dWebApp">
                    <div class="dNotify">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/gk.png')"></span>
                        <span class="sScreen"></span>
                        <span class="sNumber">6</span>
                    </div>
                    <div class="dClose" weburl="https://www.accuweather.com/" mobileurl="https://www.accuweather.com/">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/accu.png')"></span>
                        <span class="sScreen"></span>
                        <span class="fa fa-times"></span>
                    </div>
                    <a title="<%- $.trans.gettext('Accuweather'); %>">
                        <img src="<%- $.config.skin; %>/admin/accu.png" alt="wsup3"/>
                    </a>
                    <a title="<%- $.trans.gettext('Accuweather'); %>"><%- $.trans.gettext('Accuweather'); %></a>
                    <span class="sBtn" type="post" style="display: inline-block;"><input title="<%- $.trans.gettext('Check in'); %>" value="<%- $.trans.gettext('Check in'); %>" type="button"></span>
                </div>
                <div class="dApp dWebApp">
                    <div class="dNotify">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/gg.png')"></span>
                        <span class="sScreen"></span>
                        <span class="sNumber">6</span>
                    </div>
                    <div class="dClose" weburl="https://www.google.com/" mobileurl="https://www.google.com/">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/gg.png')"></span>
                        <span class="sScreen"></span>
                        <span class="fa fa-times"></span>
                    </div>
                    <a title="<%- $.trans.gettext('Google Search'); %>">
                        <img src="<%- $.config.skin; %>/admin/gg.png" alt="wsup3"/>
                    </a>
                    <a title="<%- $.trans.gettext('Google Search'); %>"><%- $.trans.gettext('Google Search'); %></a>
                    <span class="sBtn" type="post" style="display: inline-block;"><input title="<%- $.trans.gettext('Check in'); %>" value="<%- $.trans.gettext('Check in'); %>" type="button"></span>
                </div>
                <div class="dApp dWebApp">
                    <div class="dNotify">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/youtube.png')"></span>
                        <span class="sScreen"></span>
                        <span class="sNumber">6</span>
                    </div>
                    <div class="dClose" weburl="https://www.youtube.com/" mobileurl="https://m.youtube.com/" type="c">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/youtube.png')"></span>
                        <span class="sScreen"></span>
                        <span class="fa fa-times"></span>
                    </div>
                    <a title="Youtube">
                        <img src="<%- $.config.skin; %>/admin/youtube.png" alt="wsup3"/>
                    </a>
                    <a title="Youtube">Youtube</a>
                    <span class="sBtn" type="post" style="display: inline-block;"><input title="<%- $.trans.gettext('Check in'); %>" value="<%- $.trans.gettext('Check in'); %>" type="button"></span>
                </div>
                <div class="dApp dWebApp">
                    <div class="dNotify">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/tiktok.png')"></span>
                        <span class="sScreen"></span>
                        <span class="sNumber">6</span>
                    </div>
                    <div class="dClose" weburl="https://www.tiktok.com/trending?lang=vi" mobileurl="https://www.tiktok.com/trending?lang=vi">
                        <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/tiktok.png')"></span>
                        <span class="sScreen"></span>
                        <span class="fa fa-times"></span>
                    </div>
                    <a title="Tiktok">
                        <img src="<%- $.config.skin; %>/admin/tiktok.png" alt="wsup3"/>
                    </a>
                    <a title="Tiktok">Tiktok</a>
                    <span class="sBtn" type="post" style="display: inline-block;"><input title="<%- $.trans.gettext('Check in'); %>" value="<%- $.trans.gettext('Check in'); %>" type="button"></span>
                </div>
            </div>
        </div>
    </div>
</div>