<div class="dBoardAction dBoardAccount">
    <div class="dFramePng">
        <div class="dApp dAppAddUser">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/customer.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardAddUser">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/register.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Add user'); %>">
                <img src="<%- $.config.skin; %>/admin/register.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Add user'); %>"><%- $.trans.gettext('Add user'); %></a>
        </div>
        <div class="dApp dAppAddWatt">
            <div class="dNotify">
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardAddWatt">
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Buy'); %> Watt">
                <img src="<%- $.config.skin; %>/admin/watt.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Buy'); %> Watt"><%- $.trans.gettext('Buy'); %> Watt</a>
        </div>
        <div class="dApp dAppUsers">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/customer.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardUsers">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/user.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('User'); %>">
                <img src="<%- $.config.skin; %>/admin/user.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('User'); %>"><%- $.trans.gettext('User'); %></a>
        </div>
        <div class="dApp dAppDeconcentration">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/user.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardUsers">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/user.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Deconcentration'); %>">
                <img src="<%- $.config.skin; %>/admin/user.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Deconcentration'); %>"><%- $.trans.gettext('Deconcentration'); %></a>
        </div>
        <div class="dApp dAppChange">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/change.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardChange">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/change.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Change password'); %>">
                <img src="<%- $.config.skin; %>/admin/change.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Change password'); %>"><%- $.trans.gettext('Change password'); %></a>
        </div>
        <div class="dApp dAppLogout">
            <div class="dNotify">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/logout.png')"></span>
                <span class="sScreen"></span>
                <span class="sNumber">6</span>
            </div>
            <div class="dClose" board="dBoardLogout">
                <span class="sBlur" style="background-image: url('../../public/media/images/skin/admin/logout.png')"></span>
                <span class="sScreen"></span>
                <span class="fa fa-times"></span>
            </div>
            <a title="<%- $.trans.gettext('Logout'); %>">
                <img src="<%- $.config.skin; %>/admin/logout.png" alt="wsup3"/>
            </a>
            <a title="<%- $.trans.gettext('Logout'); %>"><%- $.trans.gettext('Logout'); %></a>
        </div>
    </div>
</div>
<div class="dBoardAction dBoardUsers">
    <div class="dFramePng">
        <form method="post" id="fUsers"></form>
        <center><span class="sBtnMore" type="user"><input type="button" title="<%- $.trans.gettext('More contents'); %>" value="<%- $.trans.gettext('More contents'); %>"/></span></center>
    </div>
</div>
<div class="dBoardAction dBoardMessageUser">
    <div class="dFramePng">
        <form method="post" id="fMessageUser">
            <div class="dLine">
                <label for="iEmail"><%- $.trans.gettext('Email'); %>:</label>
                <input type="text" name="email" id="iEmail" readonly/>
            </div>
            <div class="dLine">
                <label for="iTitle"><%- $.trans.gettext('Title'); %>:</label>
                <input type="text" name="title" id="iTitle"/>
            </div>
            <textarea name="message"></textarea>
        </form>
    </div>
</div>
<div class="dBoardAction dBoardChange">
    <div class="dFramePng">
        <form method="post" id="fChange">
            <div class="dLine">
                <label for="iPw"><%- $.trans.gettext('Old password'); %>:</label>
                <input type="password" name="pw" id="iPw"/>
            </div>
            <div class="dLine">
                <label for="iNewPw"><%- $.trans.gettext('New password'); %>:</label>
                <input type="password" name="newPw" id="iNewPw"/>
            </div>
            <div class="dLine">
                <label for="iReNewPw"><%- $.trans.gettext('New password again'); %>:</label>
                <input type="password" name="reNewPw" id="iReNewPw"/>
            </div>
        </form>
    </div>
</div>
<div class="dBoardAction dBoardAddUser">
    <div class="dFramePng">
        <form method="post" id="fAddUser">
            <div class="dLine">
                <label for="iDisplayname"><%- $.trans.gettext('Display name'); %>:</label>
                <input type="text" name="displayname" id="iDisplayname"/>
            </div>
            <div class="dLine">
                <label for="iFullname"><%- $.trans.gettext('Full name'); %>:</label>
                <input type="text" name="fullname" id="iFullname"/>
            </div>
            <div class="dLine">
                <label for="iGender"><%- $.trans.gettext('Gender'); %>:</label>
                <select name="gender" id="iGender" class="iGender">
                    <option value="true"><%- $.trans.gettext('Male'); %></option>
                    <option value="false"><%- $.trans.gettext('Female'); %></option>
                </select>
            </div>
            <div class="dLine">
                <label for="iAddress"><%- $.trans.gettext('Address'); %>:</label>
                <input type="text" name="address" id="iAddress"/>
            </div>
            <div class="dLine">
                <label for="iPhone"><%- $.trans.gettext('Phone'); %>:</label>
                <input type="text" name="phone" id="iPhone"/>
            </div>
            <div class="dLine">
                <label for="iEmail"><%- $.trans.gettext('Email'); %>:</label>
                <input type="text" name="email" id="iEmail"/>
            </div>
            <div class="dPhoto"></div>
            <a class="a1Photo" board="dBoardAddUser"><img alt="wsup3" src="<%- $.config.skin; %>/admin/photo.png"/> <%- $.trans.gettext('Add photos'); %></a>
            <div class="dLine">
                <label for="iGroup"><%- $.trans.gettext('Group'); %>:</label>
                <select name="group" id="iGroup" class="iGroup">
                    <option value="2"><%- $.trans.gettext('Customer'); %></option>
                    <option value="4"><%- $.trans.gettext('Staff'); %></option>
                    <option value="5"><%- $.trans.gettext('User'); %></option>
                </select>
            </div>
            <a class="aFeature" type="user" num="0" board="dBoardAddLanguage"><%- $.trans.gettext('Add feature'); %></a>
            <div class="dFeatures"></div>
            <div class="dAdvance">
                <div>
                    <select class="iLive">
                        <option value="true"><%- $.trans.gettext('Public'); %></option>
                        <option value="false"><%- $.trans.gettext('Private'); %></option>
                    </select><br/>
                </div>
            </div>
            <a class="aAdvance" title="<%- $.trans.gettext('Advance'); %>"><%- $.trans.gettext('Advance'); %></a>
        </form>
    </div>
</div>