<div class="dClassesContrl">
    <span class="sCoin"><i><img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></i><span><%- watts.coin; %></span></span>
    <a title="Add coin" href="<%- $.baseurls(req); %>/article/game-news-626fbf7e7fe369000441156d-2/4a3abee4ad25f73562a1e44485c0f843" class="aAddCoin">+</a>
    <span class="sRefresh"><input type="button" title="<%= $.trans.gettext('Refresh'); %>" value="<%= $.trans.gettext('Refresh'); %>"/></span>
    <span class="sAddClass"><input type="button" title="<%= $.trans.gettext('Add new'); %>" value="<%= $.trans.gettext('Add new'); %>"/></span>
</div>
<div class="dClassContrl">
    <span class="sPeopleLen"><span>1</span> <img src="<%- $.config.skin; %>/imgs/people.png" alt="cazs"/></span>
    <span class="sAvatar"><img src="" alt="cazs"/><i class="fas fa-long-arrow-alt-down"></i></span>
    <a class="aToHome"><img src="<%- $.config.skin; %>/imgs/toClasses.png" alt="cazs"/></a>
</div>