<div class="dClassContrl dClassContrl2">
    <span class="sCoin"><i><img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></i><span><%- watts.coin; %></span></span>
    <span class="sStart"><input type="button" title="<%= $.trans.gettext('Start'); %>" value="<%= $.trans.gettext('Start'); %>"/></span>
    <span class="sMachine"><input type="button" title="<%= $.trans.gettext('Machine'); %>" value="<%= $.trans.gettext('Machine'); %>"/></span>
    <span class="sVaccine"><img src="<%- $.config.skin; %>/imgs/vaccine.png" alt="cazs"/> <span>39</span> <img src="<%- $.config.skin; %>/imgs/Watt.png" alt="cazs"/></span>
    <span class="sSellVacc"><span><%= $.trans.gettext('Sell'); %></span> <img src="<%- $.config.skin; %>/imgs/vaccine.png" alt="cazs"/> <span>(1)</span></span>
</div>