<div class="d_wait"><img src="<%- $.config.skin; %>/wait.gif" alt="wsup3" title="Vui lòng chờ trong giây lát"/></div>
<div class="d_wrap">
    <div class="d_header">
        <div class="dBgHead"></div>
        <div class="d_screen">
            <div class="d_logo">
                <h1><a title="Trang chủ" href="<%- $.baseurls(req); %>">
                        <span>W</span>
                        <span>S</span>
                        <span>U</span>
                        <span>P</span>
                        <span>3</span>
                    </a>
                </h1>
            </div>
            <a class="aMenu" title="Menu"><img src="<%- $.config.skin; %>/menu.png" alt="wsup3"/></a>
            <div class="d_menu">
                <div>
                    <ul itemscope itemtype="https://www.schema.org/SiteNavigationElement">
                        <li itemprop="name"><a itemprop="url" href="<%- $.baseurls(req)+'/tin-tuc'; %>" title="Tin tức" class="<%- (page=='tin-tuc')? 'd_menu_active': ''; %>"><span>Tin tức</span></a></li>
                        <li itemprop="name"><a itemprop="url" href="<%- $.baseurls(req)+'/mua-sam'; %>" title="<%- $.trans.gettext('Shops'); %>" class="aShopsPage <%- (page=='mua-sam')? 'd_menu_active': ''; %>"><span><%- $.trans.gettext('Shops'); %></span></a></li>
                        <li itemprop="name"><a itemprop="url" title="<%- $.trans.gettext('Music'); %>" class="aMusicPage <%- (page=='music')? 'd_menu_active': ''; %>"><span><%- $.trans.gettext('Music'); %></span></a></li>
                        <li class="iLogin">
                            <a href="#" title="<%- $.trans.gettext('Login')%>"><span><%- $.trans.gettext('Login'); %></span></a>
                            <span><i class="fa fa-caret-down"></i></span>
                            <ul>
                                <form id="fLoginHead">
                                    <li>
                                        <label for="iEmailLog" generated="true" class="error" style="display: none;"></label>
                                        <input type="email" id="iEmailLog" name="emaillog" placeholder="<%- $.trans.gettext('Email'); %>"/>
                                    </li>
                                    <li>
                                        <label for="iPassLog" generated="true" class="error" style="display: none;"></label>
                                        <input type="password" id="iPassLog" name="passlog" placeholder="<%- $.trans.gettext('Password'); %>"/>
                                    </li>
                                </form>
                                <form id="fRegisterHead">
                                    <li>
                                        <label for="iEmailRes" generated="true" class="error" style="display: none;"></label>
                                        <input type="email" id="iEmailRes" name="emailres" placeholder="<%- $.trans.gettext('Email'); %>"/>
                                    </li>
                                    <li>
                                        <label for="iPassRes" generated="true" class="error" style="display: none;"></label>
                                        <input type="password" id="iPassRes" name="passres" placeholder="<%- $.trans.gettext('Password'); %>"/>
                                    </li>
                                    <li>
                                        <label for="iRePassRes" generated="true" class="error" style="display: none;"></label>
                                        <input type="password" id="iRePassRes" name="repassres" placeholder="<%- $.trans.gettext('Retypes password'); %>"/>
                                    </li>
                                    <li>
                                        <label for="iNameRes" generated="true" class="error" style="display: none;"></label>
                                        <input type="text" id="iNameRes" name="nameres" placeholder="<%- $.trans.gettext('Account name'); %>"/>
                                    </li>
                                    <li>
                                        <canvas id="cCaptcha" width="100" height="29"></canvas>
                                        <label for="iCaptcha" generated="true" class="error" style="display: none;"></label>
                                        <input type="text" id="iCaptcha" name="captcha" placeholder="<%- $.trans.gettext('Confirm code'); %>"/>
                                    </li>
                                </form>
                                <li itemprop="name">
                                    <button class="a_bg_btn bRegis"><%- $.trans.gettext('Register'); %></button>
                                    <button class="a_bg_btn bLogin"><%- $.trans.gettext('Login'); %></button>
                                </li>
                            </ul>
                        </li>
                        <li itemprop="name" class="lPlaylist"><a itemprop="url"><span></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>