<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-flag" content="vi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="xsjct74gq0_4jUDc7RqEKumKwPyj6kKPsUDJUqBTaqI">
    <meta name="msvalidate.01" content="2E4F7F6D5A964A73FB37ACE86AA2327B">
    <title><%- title + ' - ' + $.config.sitename; %></title>
    <link href="<%- $.config.skin; %>/admin/favicon.ico" rel="shortcut icon">
    <link href="<%- $.config.media; %>/fonts/Coming_Soon/stylesheet.css" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.media; %>/fonts/opensans/stylesheet.css" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.css; %>/jquery-ui.css" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.media; %>/fonts/fontawesome-5.6.3/css/all.css?ver=1.17" media="screen" rel="stylesheet" type="text/css">
    <link href="<%- $.config.css; %>/admin/style.css" media="screen" rel="stylesheet" type="text/css">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.md5.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/speak.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.mousewhell.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery.validate.min.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/jquery-ui.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/youtube.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/shortcut.js"></script>
    <script type="text/javascript" flag="javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56129929-1', 'auto');
        ga('send', 'pageview');
        var people = JSON.parse((((typeof(window.localStorage.getItem('people'))!='undefined' && window.localStorage.getItem('people') != null && window.localStorage.getItem('people') != 'undefined')? window.localStorage.getItem('people'): null)));
        var SITENAME = '<%- $.config.sitename; %>';
        var LINK = '<%- $.config.link; %>';
        var BASEURL = '<%- $.baseurls(req); %>';
        var PATH = '<%- $.baseurls(req)+path; %>';
        var SKIN = '<%- $.config.skin; %>';
        var IMG = '<%- $.config.img; %>';
        var VIDEO = '<%- $.config.video; %>';
        var PAGE = '<%- page; %>';
        if (PAGE != 'login')
            if (people != null)
            {
                <%
                    if (wid=='')
                    {
                        %>
                            window.location.assign(BASEURL + '//'+people.flag+'@'+people._id);
                        <%
                    }
                %>
            }
        var LANG = '<%- $.done(req.params.lang, 'vi'); %>';
        var flags = {};
        <%
            if(flags.length>0)
                $.each(flags, function(key, value){
                    %>
                        flags['<%- value.id; %>'] = '<%- value.name; %>';
                    <%
                });
        %>
        var features = [<%- JSON.stringify(features); %>][0];
        var available = 0, expirate, expirate2 = 0;
        //                $.each(dt.report, function(k, v) {
        //                    if(v.params['ton-kho'].detail < v.params['kiem-tra-het-hang'].detail)
        //                        available++;
        //                    expirate = v.params['han-dung'].detail.substring(0, 10).split('-');
        //                    if(expirate[0]==web.dateObj.getFullYear() && expirate[1]<=web.dateObj.getMonth()+2)
        //                        expirate2++;
        //                });
        if (available > 0)
            $('.dAppReportAvailable .sNumber').text(available).parent().fadeIn(250);
        if (expirate2 > 0)
            $('.dAppReportExpirate .sNumber').text(expirate2).parent().fadeIn(250);
        available = available + expirate2;
        if (available > 0)
            $('.dAppReport .sNumber').text(available).parent().fadeIn(250);
        var UICOLOR = '#3F5D7D', chats = [];        
    </script>
    <script type="text/javascript" src="<%- $.config.media; %>/cke/ckeditor/ckeditor.js"></script>
    <script src="<%- $.config.js; %>/adapter-latest.js"></script>
    <script type="text/javascript" <%- ($.config.onsocket)? 'src="/socket.io/socket.io.js"': ''; %>></script>
    <script type="text/javascript" src="<%- $.config.js; %>/libs.js"></script>
    <script type="text/javascript" src="<%- $.config.js; %>/admin/script.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="title" content="<%- title; %>">
    <meta property="description" content="<%- $.config.except; %>">
    <meta property="keywords" content="<%- $.config.keys; %>">
    <meta property="robots" content="ALL, INDEX, FOLLOW">
    <meta property="geo.region" content="<%- $.config.region; %>">
    <meta property="geo.placename" content="<%- $.config.place; %>">
    <meta property="geo.position" content="<%- $.config.pos; %>">
    <meta property="ICBM" content="<%- $.config.icbm; %>">
    <meta property="og:url" content="<%- $.baseurl(req)+'/'+path; %>">
    <meta property="og:site_name" content="<%- $.config.sitename; %>">
    <meta property="og:title" content="<%- title; %>">
    <meta property="og:description" content="<%- $.config.except; %>">
    <meta property="og:image" content="<%- $.config.image; %>">
    <meta property="og:type" content="article">
    <meta property="fb:app_id" content="<%- $.config.appid; %>">
    <meta property="fb:admins" content="<%- $.config.admins; %>">
    <meta property="twitter:card" content="<%- $.config.image; %>">
    <meta property="twitter:site" content="<%- $.baseurl(req)+'/'+path; %>">
    <meta property="twitter:title" content="<%- title; %>">
    <meta property="twitter:description" content="<%- $.config.except; %>">
    <meta property="twitter:creator" content="<%- $.config.ttlink; %>">
</head>
<body class="bApps" onhashchange="hashchange();">
    <% include ../Partial/header.ejs %>
    <%- include('../'+template+'.ejs'); %>
    <% include ../Partial/footer.ejs %>
</body>
</html>